<div class="row" style="margin-top:16px;">
    <ol class="breadcrumb">
        <?php if ($this->catalog['cat_link'] != 'StrikePro' && $this->catalog !== null) : ?>
            <li><a href="/catalog/">Каталог Продукции</a></li>
            <?php foreach($this->path AS $cat) : ?>
                <?php if($cat['cat_link'] == 'StrikePro') continue; ?>

                <?php if($this->catalog['cat_link'] !== $cat['cat_link']) : ?>
                    <li><a href="/catalog/<?php echo $cat['cat_link'];?>"><?php echo $cat['cat_codename']. ' ' .$cat['cat_name'];?></a></li>
                <?php endif; ?>

                <?php if($this->catalog['cat_link'] == $cat['cat_link']) : ?>
                    <li><?php echo $cat['cat_codename']. ' ' .$cat['cat_name'];?></li>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </ol>
</div>