<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Title -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->baseUrl('admin'); ?>">
                <img style="height:36px; position: relative; top:-8px;" class="img-responsive" src="/images/strikepro_logo.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="<?php echo $this->baseUrl('product');?>">Каталог</a></li>
                <li><a href="<?php echo $this->baseUrl('post');?>">Блог</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>