<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Strike Pro - </title>

    <!-- Bootstrap -->
    <?php
        $this->HeadLink()->appendStylesheet($this->baseUrl('vendor/bootstrap/3.3.6/css/bootstrap.min.css'));
        $this->HeadLink()->appendStylesheet($this->baseUrl('vendor/bootstrap/3.3.6/css/bootstrap-theme.css'));

        // custom styles
        $this->HeadLink()->appendStylesheet($this->baseUrl('vendor/jgrowl/css/jquery.jgrowl.min.css'));
        $this->HeadLink()->appendStylesheet($this->baseUrl('vendor/font-awesome/css/font-awesome.min.css'));

        //app styles
        $this->HeadLink()->appendStylesheet($this->baseUrl('styles/admin.css'));
    ?>
    <?php echo $this->headLink(); ?>
    <?php echo $this->headStyle(); ?>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/vendor/html5shiv/js/html5shiv.min.js"></script>
    <script src="/vendor/respond/js/respond.min.js"></script>
    <![endif]-->
    <!-- Hide Url Bar Nav on Iphone -->
    <script type="text/javascript">
        // hide URL field on the iPhone/iPod touch
        function hideUrlBar() {
            if (window.pageYOffset==0) {
                window.scrollTo(0, 1);
                // repeat every second for slow rendering pages
                setTimeout(function() { hideUrlBar(); }, 3000);
            }
        }
    </script>
</head>