<!DOCTYPE html>
<html lang="en">
<?php echo $this->partial('admin/bootstrap-layout-head.phtml', array()); ?>

<body role="document">
    <?php echo $this->partial('admin/bootstrap-layout-nav.phtml', array()); ?>

    <div class="container" role="main" style="margin-top:20px;">
        <?php echo $this->partial('admin/bootstrap-layout-breadcrumb.phtml',
                                    array('catalog' => $this->catalog, 'path' => $this->path)); ?>
        <?php echo $this->layout()->content; ?>
    </div>

    <?php echo $this->partial('admin/bootstrap-layout-js-footer.phtml',
                                array('admin_messages' => $this->admin_messages, 'config' => $this->config,'catalog_object' =>$this->catalog_object)); ?>
</body>
</html>