<?php
$this->HeadTitle('Политика конфиденциальности');
?>

<h1 class="content-header">Политика конфиденциальности</h1>
<br>
<div class="container-fluid">
    <article>
        <p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) ООО
            "Флагман"
            действует в отношении всех материалов и сервисов интернет-магазина «strikepro.ru» на домене
            strikepro.ru (далее Интернет-магазин),
            и данных, которые можно получить о Пользователе во время использования сайта интернет-магазина.
        </p>

        <h2 class="section-header">1. Понятия, используемые в настоящей Политике конфиденциальности.</h2>

        <p>Администрация сайта интернет-магазина (далее – Администрация сайта) – уполномоченные сотрудники,
            действующие от имени интернет-магазина «strikepro.ru», которые организуют и (или) осуществляет
            обработку персональных данных,
            а также определяет цели обработки персональных данных, состав персональных данных, подлежащих
            обработке, действия (операции),
            совершаемые с персональными данными.</p>
        <p>Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или
            определяемому физическому лицу (субъекту персональных данных).</p>
        <p>Обработка персональных данных - любое действие (операция) или совокупность действий (операций),
            совершаемых с использованием средств автоматизации или без использования таких средств с
            персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение
            (обновление, изменение), извлечение, использование, передачу (распространение, предоставление,
            доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
        <p>Пользователь сайта интернет-магазина (далее Пользователь) – любой посетитель, находящийся и
            заходивший на Сайт, а также разместивший Заказ в Интернет-магазине strikepro.ru</p>

        <h2 class="section-header">2. Общие положения.</h2>

        <p>Использование Пользователем сайта интернет-магазина означает согласие с настоящей Политикой
            конфиденциальности и условиями обработки персональных данных Пользователя.</p>
        <p>В случае несогласия с условиями Политики конфиденциальности Пользователь должен покинуть сайт
            интернет-магазина.</p>
        <p>Настоящая Политика конфиденциальности применяется только к сайту интернет-магазина strikepro.ru.
            Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые
            Пользователь может перейти по ссылкам, доступным на сайте интернет-магазина.</p>
        <p>Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем
            сайта интернет-магазина. Однако Администрация сайта и Пользователь исходят из того, что Пользователь
            предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в
            актуальном состоянии.</p>
        <p>Пользователь обязан соблюдать положения действующего законодательства Российской Федерации и
            настоящего документа, возмещать убытки, понесенные ООО "Флагман", другими Пользователями или
            третьими лицами в результате нарушения Политики конфиденциальности или законодательства Российской
            Федерации.</p>

        <h2 class="section-header">3. Цели сбора персональной информации пользователя.</h2>

            <p>При регистрации и оформлении заказа на Сайте, а также, подписке на рассылку, Пользователь
                предоставляет свои персональные данные интернет-магазину «strikepro.ru», соглашаясь на сбор,
                обработку, хранение, уточнение (обновление, изменение), обезличивание, удаление и уничтожение, в том
                числе автоматизированные, а также на использование их в целях:</p>
            <p> - регистрации и авторизации на сайте, </p>
            <p> - предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина, </p>
            <p> - установления с Пользователем обратной связи, включая отправку уведомлений, запросов, касающихся
                использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя,
                обработка Заказов Пользователя и для выполнения обязательств перед Пользователем,</p>
            <p> - создания учетной записи для совершения покупок, если Пользователь оформляет заказ по телефону или
                через иные способы оформления заказа,</p>
            <p> - уведомления Пользователя Сайта интернет-магазина о состоянии Заказа, обработки и получения
                платежей, оспаривания платежа,</p>
            <p> - предоставления Пользователю эффективной клиентской и технической поддержки,</p>
            <p> - определения победителя в акциях, проводимых на Сайте,</p>
            <p> - информирования Пользователя об акциях, скидках и специальных предложениях посредством электронных
                и СМС-рассылок.</p>
            <p> Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация
                используется с целью выявления и решения технических проблем, для контроля законности проводимых
                финансовых платежей.</p>
            <p> Отключение cookies может повлечь невозможность доступа к частям сайта интернет-магазина, требующим
                авторизации.</p>

            <h2 class="section-header">4. Способы и сроки обработки персональных данных.</h2>

            <p>Персональные данные Пользователя обрабатываются в соответствии с ФЗ «О персональных данных» №
                152-ФЗ.</p>
            <p>Согласие на обработку персональных данных действует вплоть до отзыва пользователем, который
                осуществляется по заявке по адресу shop@strikepro.ru</p>
            <p>В отношении указанных данных сохраняется их конфиденциальность, кроме случаев добровольного
                предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.</p>
            <p>При использовании отдельных сервисов Сайта, пользователь соглашается с тем, что определённая часть
                его
                персональной информации становится общедоступной.</p>
            <p>Передача администрацией Сайта персональных данных пользователя третьим лицам возможна либо по
                согласию
                самого пользователя, либо по требованию компетентных органов в соответствии с действующим
                законодательством.</p>
            <p>Не считается нарушением предоставление информации агентам и третьим лицам, действующим на основании
                договора с ООО "Флагман", для исполнения обязательств перед пользователем и только в рамках
                договоров.</p>
            <p>Не считается нарушением настоящего пункта передача администрацией Сайта третьим лицам данных о
                Пользователе в обезличенной форме в целях оценки и анализа работы Сайта, анализа покупательских
                особенностей Пользователя и предоставления персональных рекомендаций.</p>

            <h2 class="section-header">5. Дополнительные условия.</h2>

            <p>ООО "Флагман" оставляет за собой право изменять и дополнять настоящую Политику конфиденциальности.
                Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте интернет-магазина
                «strikepro.ru».</p>
            <p>Ничто в данной Политике конфиденциальности не может пониматься как установление между Пользователем и
                Администрации Сайта каких-либо иных отношений, прямо не предусмотренных Политикой
                конфиденциальности.</p>
            <p>Все предложения или вопросы по поводу настоящей Политики конфиденциальности Пользователь вправе
                направлять сотрудникам интернет-магазина по телефону +7 (981) 878 52 72 и электронному адресу
                shop@strikepro.ru.</p>
            <p>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящей Политики конфиденциальности и
                безусловно принимает их.</p>
    </article>
</div>