<div id="destroyPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удалить Запись</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить запись?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDestroyPostButton">Удалить</button>
            </div>
        </div>

    </div>
</div>