<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="9e64975ba57928fe" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
	<meta name="yandex-verification" content="d2f9abdfbb685736" />
    <?php echo $this->HeadMeta(); ?>

    <?php $this->HeadTitle('Strike Pro'); ?>
    <?php $this->headTitle()->setSeparator(' / '); ?>
    <?php echo $this->HeadTitle(); ?>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl('vendor/bootstrap/3.3.6/css/bootstrap.min.css'); ?>">
    <!-- Custom vendor styles -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl('vendor/jgrowl/css/jquery.jgrowl.min.css'); ?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('vendor/font-awesome/css/font-awesome.min.css'); ?>">

    <?php echo $this->HeadLink(); ?>

    <!-- Custom styles -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl('styles/style2.css'); ?>">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="<?php echo $this->baseUrl('vendor/html5shiv/js/html5shiv.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('vendor/respond/js/respond.min.js'); ?>"></script>
    <![endif]-->
    <!-- Hide Url Bar Nav on Iphone -->
    <script type="text/javascript">
        // hide URL field on the iPhone/iPod touch
        function hideUrlBar() {
            if (window.pageYOffset==0) {
                window.scrollTo(0, 1);
                // repeat every second for slow rendering pages
                setTimeout(function() { hideUrlBar(); }, 3000);
            }
        }
    </script>

    <style>
        .bgvideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;
        }

        .bgimage {
            margin-top:30px;
            pisition: -9999px;
            margin:0;
            padding:0;
            /*left:0;*/
            /*position: fixed;*/
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }

        @-webkit-keyframes swing
        {
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @keyframes swing
        {
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }

        .swing
        {
            -webkit-animation: swing 2s ease-in;
            animation: swing 2s ease;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    </style>
</head>