<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="<?php $this->inlineScript()->prependFile($this->baseUrl('vendor/jquery/jquery-1.12.4.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/jgrowl/js/jquery.jgrowl.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/bootstrap/3.3.6/js/bootstrap.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/wss/js/wss_main2.js'));?>"></script>
<?php echo $this->inlineScript(); ?>

<?php echo $this->HeadScript(); ?>


<script type="text/javascript">

    $(document).ready(function()
    {
        // общий
        $('head').data('site_url', '<?php echo $this->JsEscape($this->baseUrl()); ?>');

        $(function()
        {
//            $('[data-toggle="popover"]').popover()
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var h_hght = 50; // высота шапки
        var h_mrg = 0;
        var elem = $('.navbar-default');
        var top = $(this).scrollTop();
        $('.hamburger').on('click', function () {
            $('.hamburger').toggleClass("is-closed is-open");
            $('#sidebar-wrapper').toggleClass("is-closed is-open");
            $('body').toggleClass("js-hidden");
            $(".basket__wrapper").removeClass("active");
            if($(elem).hasClass("down")){
                elem.removeClass("down");
            } else if (!$(elem).hasClass("down") && top > h_hght ){
                elem.addClass("down");
            }

        });

        if(top > h_hght){
            elem.css('top', h_mrg);
        }

        $(window).scroll(function(){
            top = $(this).scrollTop();
            if (top > h_hght) {
                elem.addClass("down");
            } else {
                elem.removeClass("down");
            }
        });

        $("#popup").on('click', function(){
            $(".basket__wrapper").addClass("active");

            $('.hamburger').removeClass("is-open");
            $('.hamburger').addClass("is-closed");
            $('#sidebar-wrapper').removeClass("is-open");
            $('#sidebar-wrapper').addClass("is-closed");
            $('body').removeClass("js-hidden");
        })
        $("#js-basket-close").on('click', function(){
            $(".basket__wrapper").removeClass("active");
        })
    });
</script>