<!DOCTYPE html>
<html lang="en">
<?php echo $this->partial('site/bootstrap-layout-head.phtml', array()); ?>

<body role="document">
    <noscript>
        <div style="position:fixed; top:0; width:100%; height:100%; z-index:10000000; background-color:white;">
            <p align="center" style="font-size: 30px;">Работа Javascript на сайте https://shop.strikepro.ru обязательна! Пожалуйста, включите Javascript!</p>
        </div>
    </noscript>
    <?php echo $this->partial('site/bootstrap-layout-nav.phtml', array()); ?>
    <div class="container content-body" role="main">
        <?php echo $this->partial('site/bootstrap-layout-breadcrumb.phtml',
                                    array('catalog_object' => $this->catalog_object, 'goods_object' => @$this->goods_object, 'path' => $this->path)); ?>
        <div class="container-fluid">
            <?php echo $this->layout()->content; ?>
        </div>
        <div id="push"></div>
    </div>
    <footer id="footer" style="position:fixed; bottom:0px; background-color:white; min-width: 100%;width:auto; margin-bottom: 0px; padding-bottom: 0px;">
        <div class="container">
            <div class="container-fluid">
                <div class="row" style="padding-top:16px; text-align:center;">
                    <div class="col-xs-4" style="text-align: center;">
                        <ul class="list-inline footer__socialBtn">
                            <li>
                                <img style="width:50px;" src="/images/mastercard_secure_code.png">
                            </li>
                            <li>
                                <img style="width:50px;" src="/images/mir_accept.png">
                            </li>
                            <li>
                                <img style="width:50px;" src="/images/verified_by_visa.png">
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4" style="text-align: center;">
                        <ul class="list-inline footer__socialBtn">
                            <li>
                                <a style="color:#000000;" href="https://www.facebook.com/StrikeProRussia/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a style="color:#000000;" href="https://new.vk.com/strikepro"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a style="color:#000000;" href="https://www.instagram.com/strikeprorussia/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a style="color:#000000;" href="https://www.youtube.com/user/StrikeProRussia"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4" style="text-align: center;">
                        <a href="<?php echo $this->baseUrl("privacy"); ?>">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <?php echo $this->partial('site/bootstrap-layout-js-footer.phtml', array()); ?>
    <!-- Yandex.Metrika counter -->

    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter5007046 = new Ya.Metrika({
                        id:5007046,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/5007046" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>