<?php if (Zend_Controller_Front::getInstance()
        ->getRequest()
        ->getControllerName() == 'catalog'
): ?>

    <?php if (isset($this->catalog_object)): ?>

        <!-- Group -->

        <?php if ($this->catalog_object->cat_code && $this->catalog_object !== null) : ?>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/catalog/">Каталог Продукции</a></li>
                    <?php foreach ($this->path AS $cat) : ?>
                        <?php //var_dump($cat) ?>
                        <?php if (!$cat['cat_code']) continue; ?>
                        <?php if ($cat['cat_code'] == '678') continue; ?>

                        <?php if ($this->catalog_object->cat_link != $cat['cat_link']) : ?>
                            <li>
                                <a href="<?php echo $this->baseUrl('catalog/' . $cat['cat_link']); ?>">
                                    <?php echo $cat['cat_codename'] . ' ' . $cat['cat_name']; ?>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <li><?php echo $this->catalog_object->cat_name; ?></li>
                </ol>
            </div>
        <?php endif; ?>

    <?php else: ?>

        <!-- Article -->
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->baseUrl('catalog/'); ?>">Каталог Продукции</a></li>

                    <?php foreach ($this->path AS $cat) : ?>

                        <?php if ($cat['cat_code'] == '678') continue; ?>
                        <?php if (!$cat['cat_code']) continue; ?>
                            <li>
                                <a href="<?php echo $this->baseUrl( 'catalog/' . $cat['cat_link'] ); ?>">
                                    <?php echo $cat['cat_codename'] . ' ' . $cat['cat_name']; ?>
                                </a>
                            </li>

                    <?php endforeach; ?>
                    <li><?php echo $this->goods_object->article_name; ?></li>
                </ol>
            </div>

    <?php endif; ?>
<?php endif; ?>
