<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top is-closed" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li>
            <a href="/company">
                О компании
            </a>
        </li>
        <li>
            <a href="/blog">
                Блог
            </a>
        </li>
        <li>
            <a href="/new">
                Новинки
            </a>
        </li>
        <li>
            <a href="/catalog">
                Каталог продукции
            </a>
        </li>
        <li><a href="/store">Оплата</a></li>
        <li><a href="/delivery">Доставка</a></li>
        <li><a href="/feedback">Контакты</a></li>
        <li class="header__tel">
            <a href="tel:+79818785272">
            <i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>
            <span > +7 981 878 52 72 </span>
            </a>
        </li>
    </ul>
    <ul class="nav-second-elements footer__socialBtn list-inline">
        <li>
            <a href="https://www.facebook.com/StrikeProRussia/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://new.vk.com/strikepro"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/strikeprorussia/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/StrikeProRussia"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>



    <div class="basket__wrapper">
        <div class="basket__head">
            <button class="basket__head-btn" id="js-basket-close">
                <i class="fa fa-times" aria-hidden="true" style="margin-right: 5px;font-size: 18px;line-height: 0;vertical-align: middle;"></i>
                Закрыть
            </button>
            <a href="/cart" class="basket__head-btn" href="/cart">
                Оформить покупку
                <i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: 5px;font-size: 18px;line-height: 0;vertical-align: middle;"></i>
            </a>
        </div>

        <div class="basket__count" style="display: none">

            <div class="basket__count-totals">
                <div class="basket__count-totals__label">
                    Всего:
                </div>
                <div class="basket__count-totals__price">

                </div>
                <i class="fa fa-rub" aria-hidden="true" style="font-size: 20px;vertical-align: baseline;"></i>
            </div>

            <div class="basket__count-total-products">
                <span>Есть</span>
                <span class="count-item"></span>
                <span>продукт (ов) в корзине.</span>
            </div>

        </div>

        <div class="basket__content" style="display: none">
            <table>
                <tbody id="js-basket__content">

                </tbody>
            </table>
        </div>
        <div class="basket__notic" style="display: block">
            Корзина пуста
        </div>
    </div>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="nav-second container-fluid">
        <div class="container">
            <!-- Title -->
            <div class="navbar-header">
                <button type="button" class="hamburger is-closed animated fadeInLeft">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/strikepro_logo.svg">
                </a>

                <div class="nav-second-elements basket list-inline pull-right">
               <span id="popup" data-container="body" data-placement="bottom"
                     data-html="true" data-trigger="click focus" title="">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            <span id="count-item" class="badge">0</span>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>