<?php $this->HeadTitle('Рыболовные приманки'); ?>

<div class="container-fluid" style="margin:0; padding: 0;">
    <div class="row">
        <div class="col-sm-12">
            <img src="<?php echo $this->baseUrl('/upload/23_february.jpg'); ?>" style="width:100%;">
        </div>
    </div>
</div>