<?php $this->HeadTitle('Рыболовные приманки'); ?>
<style>
.videoContainer
{
    width:100%;
    height:auto;
}

.videoContainer video
{
    min-width: 100%;
    min-height: 100%;
}
</style>

<div class="container-fluid" style="margin:0; padding: 0;">
    <div class="videoContainer">
        <video loop muted autoplay style="position:absolute; left:0; top:0; margin-top: -100px; overflow: hidden; width:100%; height:auto;">
            <source src="<?php echo $this->baseUrl('/upload/video/show720.mp4'); ?>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="<?php echo $this->baseUrl('/upload/video/show720.webm'); ?>" type='video/webm; codecs="vp8, vorbis"' />
            <source src="<?php echo $this->baseUrl('/upload/video/show720.ogv'); ?>" type='video/ogg; codecs="theora, vorbis"' />
            Video not supported.
        </video>
    </div>
</div>