<?php
$this->inlineScript()->appendFile($this->baseUrl('vendor/jquery/jquery-validation/jquery.validate.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/sendPartnerFeed.js'));
?>
<?php
$this->HeadTitle('Обратная связь');
?>

<h1 class="content-header">Представительство Strike Pro Таможенный союз: Обратная связь</h1>
<br>
<div class="container-fluid">
    <form id="partner_form" method="POST" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">Имя:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" size="48" maxlength="255" name="firstname" id="firstname" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Фамилия:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" size="48" maxlength="255" name="lastname" id="lastname" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Телефон:</label>
            <div class="col-md-8">
                <input class="form-control" type="tel" size="48" maxlength="255" name="phone" id="phone" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email:</label>
            <div class="col-md-8">
                <input class="form-control" type="email" size="48" maxlength="255" name="email" id="email" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="legalname">Название юридического лица:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" size="48" maxlength="255" name="legalname" id="legalname" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="address">Город / Населенный пункт:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" size="48" maxlength="255" name="address" id="address" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="business_type">Основное направление деятельности:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" size="48" maxlength="255" name="business_type" id="business_type" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="message">Ваше Сообщение:</label>
            <div class="col-md-8">
                <textarea rows="16" class="form-control" id="message" name="message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button onclick="sendPartnerFeed(); return false;" style="width:220px;" type="submit" class="btn btn-success">Отправить обращение</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default" id="success_add_request" style="display: none;">
        <div class="panel-body">
            <h2 class="section-header" style="color:mediumseagreen">Ваше обращение принято!</h2>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p>Спасибо за ваше обращение, наш менеджер  даст вам ответ в ближайшее время.<br>
                        Для удобства мы присвоили вашему обращению номер <strong>#<span id="request_number"></span></strong>.<br>
                        Если вы продолжительное время не получаете ответа, пожалуйста, напишите нам на электронную почту <strong>sale@strikepro.ru</strong>,
                        а в теме письма обязательно указажите номер вашего обращения. Или позвоните по телефону <strong>+7 (812) 369 23 43</strong><span class=""></span>
                </div>
            </div>
        </div>
    </div>
</div>
