<?php
$this->inlineScript()->appendFile($this->baseUrl('vendor/jquery/jquery-validation/jquery.validate.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/sendFeed.js'));
?>
<?php
$this->HeadTitle('Интернет-Магазин: Обратная связь');
?>

<h1 class="content-header">Интернет-Магазин: Обратная связь</h1>
<br>
<div class="container-fluid content-body">
    <form id="shop_form" method="POST" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label" for="firstname">Имя:</label>
            <div class="col-md-9">
                <input class="form-control" type="text" size="48" maxlength="255" name="firstname" id="firstname" value="<?php echo htmlspecialchars($this->formvals['fio']) ; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="lastname">Фамилия:</label>
            <div class="col-md-9">
                <input class="form-control" type="text" size="48" maxlength="255" name="lastname" id="lastname" value="<?php echo htmlspecialchars($this->formvals['lastname']) ; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="phone">Телефон:</label>
            <div class="col-md-9">
                <input class="form-control" type="tel" size="48" maxlength="255" name="phone" id="phone" value="<?php echo htmlspecialchars($this->formvals['phone']) ; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="email">Email:</label>
            <div class="col-md-9">
                <input class="form-control" type="email" size="48" maxlength="255" name="email" id="email" value="<?php echo htmlspecialchars($this->formvals['email']) ; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="order">Номер заказ, если есть:</label>
            <div class="col-md-9">
                <input class="form-control" type="text" size="48" maxlength="255" name="order" id="order" value="<?php echo htmlspecialchars($this->formvals['order']) ; ?>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="message">Цель обращения:</label>
            <div class="col-md-9">
                <textarea rows="16" class="form-control" id="message" name="message"><?php echo htmlspecialchars($this->formvals['message']) ; ?></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button onclick="sendFeed(); return false;" style="width:220px;" type="submit" class="btn btn-success">Отправить обращение</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default" id="success_add_request" style="display: none;">
        <div class="panel-body">
            <h2 class="section-header" style="color:mediumseagreen">Ваше обращение принято!</h2>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p>Спасибо за ваше обращение, менеджер интернет-магазина даст вам ответ в ближайшее время.<br>
                    Если решение вашего вопроса требует звонка, то мы обязательно вам перезвоним.<br>
                    Для удобства мы присвоили вашему обращению номер <strong>#<span id="request_number"></span></strong>.<br>
                    Если вы продолжительное время не получаете ответа, пожалуйста, напишите нам на электронную почту <strong>shop@strikepro.ru</strong>,
                                а в теме письма обязательно указажите номер вашего обращения. Или позвоните по телефону <strong>+7 981 878 52 72</strong><span class=""></span>
                </div>
            </div>
        </div>
    </div>
</div>
