<!-- Modal -->
<div id="addFilesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавить файл</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
              <div id="dropbox" class="dropbox">
                <p>Перетащите сюда файл(ы) из проводника</p>
              </div>

          </div>
          <div class="col-sm-12" id="progressBox">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="browseButton" class="btn btn-default">Обзор...</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>

  </div>
</div>