<div id="deleteFilesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление файла</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-info">Вы действительно хотите удалить этот файл?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-file="" id="deleteButton" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>

    </div>
</div>