<div class = "content_header">
<a class = "catalog_nav" href="<?php echo $this->baseUrl(); ?>">Главная страница</a>
<img src="/images/template/forward.png" style="position:relative; top: 2px;"> 
<a class = "catalog_nav" href="<?php echo $this->baseUrl(); ?>/auth/login/">Авторизация</a>
</div>


<div class="login">
		<?php echo $this->formLogin; ?>
</div>