
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>File Manager</title>

    <!-- Bootstrap core CSS -->
    <?php $this->HeadLink()->prependStylesheet($this->baseUrl('vendor/bootstrap/3.3.6/css/bootstrap.min.css')); ?>
    <?php $this->HeadLink()->prependStylesheet($this->baseUrl('vendor/file-manager/css/style.css')); ?>

    <?php echo $this->HeadLink(); ?>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Менеджер файлов</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="addFileButton" class="btn btn-link" href="javascript:void(0);"><i class="fa fa-plus"></i>Добавить файл</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <?php echo $this->layout()->content; ?>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<?php $this->InlineScript()->appendFile($this->baseUrl('vendor/jquery/jquery-1.12.4.min.js'), 'text/javascript'); ?>
<?php $this->InlineScript()->appendFile($this->baseUrl('vendor/bootstrap/3.3.6/js/bootstrap.min.js'), 'text/javascript'); ?>

<?php echo $this->InlineScript(); ?>

<?php echo $this->HeadScript(); ?>
</body>
</html>
