<?php
$this->headLink()->appendStylesheet($this->baseUrl('vendor/modal-gallery/css/modal-gallery.css'));
?>

<?php
$this->HeadTitle('Доставка и возврат');
?>

<h1 class="content-header">Доставка и возврат</h1>
<br>
<div class="container-fluid">
    <article>
        <h2 class="section-header">Условия доставки</h2>
        <p>Все заказ передаются в доставку после получения полной оплаты по заказу. Доставка осуществляется в течении
            1-2 рабочих дней с момента получения оплаты.</p>
        <p>Мы бережно упаковываем и отправляем ваши приманки ТК СДЭК. За время нашей работы все наши клиенты
            получили отправления вовремя и в указанные СДЭК сроки. Когда посылка будет отправлена, наш менеджер
            отправить вам на почту трек-номер отправления, с помощью которого, вы с легкостью сможете контролировать,
            где сейчас находятся ваш заказ.</p>
        <p>Мы осуществляем курьерскую доставку по Санкт-Петербургу (в пределах КАД). На следующий рабочий день после
            совершения заказа, наш курьер свяжется с вами и согласует удобное время доставки.</p>
        <h2 class="section-header">Гарантийные обязательства</h2>
        <p>Все товары перед отправкой проходят визуальный осмотр на предмет брака. Если вам досталось бракованное
            изделие,
            просьба сделать фотографию и отправить нам обращение на электронную почту. Все обращения по браку
            рассматриваются индивидуально.</p>
    </article>
</div>

