<h1 style="font: 30px 'Calibri Light Italic'; color:rgb(113,178,32);">Уважаемый клиент!</h1>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Платежная система сообщила нам о том, что оплата по вашему счету не прошла.</p>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Пожалуйста, свяжитесь со службой поддержки RBK Money по телефону 8 800 200 88 20 (звонок по России бесплатный).</p>
<br>
<p style="font: 18px 'Calibri Light Italic'; color: #717171;">C уважением, команда StrikePro Россия.</p>