<h1 style="font: 30px 'Calibri Light Italic'; color: rgb(113, 178, 32);">Спасибо за покупку!</h1>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Платежная система сообщила о удачном проведении платежа. </p>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Заказ будет отправлен вам в ближайшее время.</p>
<br>
<p style="font: 18px 'Calibri Light Italic'; color: #717171;">C уважением, команда StrikePro Россия.</p>