<?php
$this->HeadTitle('Порядок оплаты');
?>

<h1 class="content-header">Порядок оплаты</h1>
<br>
<div class="container-fluid">
    <article>
        <h2 class="section-header">Оплата картой</h2>

        <p>Для выбора оплаты товара с помощью карты на соответствующей странице сайта необходимо нажать кнопку
            «Оплата картой».</p>
        <p>Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских
            кредитных карт
            следующих платежных систем:
            <br><br>

        <div align="center">
            <img class="rbru__ps-logo-small" src="<?php echo $this->baseUrl("images/mir.png") ?>" alt="МИР"
                 title="МИР">
            <img class="rbru__ps-logo-small" src="<?php echo $this->baseUrl("images/visa.png") ?>"
                 alt="VISA International" title="VISA International">
            <img class="rbru__ps-logo-small" src="<?php echo $this->baseUrl("images/mastercard.png") ?>"
                 alt="MasterCard Worldwide" title="MasterCard Worldwide">
        </div>
        </p>

        <h2 class="section-header">Передача данных</h2>

        <p>Для осуществления платежа Вам потребуется сообщить данные Вашей пластиковой карты. Передача этих сведений
            производится
            с соблюдением всех необходимых мер безопасности. Данные будут сообщены только на авторизационный сервер
            Банка по защищенному
            каналу (протокол TLS). Информация передается в зашифрованном виде и сохраняется только на
            специализированном сервере
            платежной системы. </p>

        <h2 class="section-header">Процесс оплаты</h2>

        <p>При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу производится
            непосредственно после его
            оформления. После завершения оформления заказа в нашем магазине, Вы должны будете нажать на кнопку
            "Оплата картой",
            при этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести
            данные пластиковой
            карты, инициировать ее авторизацию, после чего вернуться в наш магазин кнопкой "Вернуться в магазин".
            После того, как
            Вы возвращаетесь в наш магазин, система уведомит Вас о результатах авторизации. В случае подтверждения
            авторизации
            Ваш заказ будет автоматически выполняться в соответствии с заданными Вами условиями. В случае отказа в
            авторизации
            карты Вы сможете повторить процедуру оплаты.</p>

        <h2 class="section-header">Отмена заказа</h2>

        <p>При аннулировании позиций из оплаченного заказа (или при аннулировании заказа целиком) Вы можете заказать
            другой товар
            на эту сумму, либо вернуть всю сумму на карту предварительно написав письмо на e-mail. Возврат
            производится на ту карту,
            с которой ранее производилась оплата.</p>
    </article>
</div>