<?php $this->HeadTitle('Просмотр заказа');  ?>

<?php $config = new Zend_Config_Ini('../application/configs/application.ini', 'production'); ?>

<?php if( !defined($this->messagesubclass) ) :?>
    <?php $this->messagesubclass = 'info'; ?>
<?php endif; ?>
<div class="container-fluid">
    <?php if( $this->message ) : ?>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div align="center" style="padding:1em;" ><div class="<?php echo $this->messagesubclass; ?>message"><?php echo $this->message; ?></div></div>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($this->captchaIsEntred) : ?>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="content-header">Просмотр заказа #<?php echo $this->FormatOrderNum(htmlspecialchars($this->order_data['order_contacts']['order_id'])) ; ?></h1>
            </div>
        </div>
        <div class="row" style="margin-top:10px; margin-bottom: 10px;">
            <div class="col-xs-12 col-md-12">
                <span class="label label-primary" style="padding:10px;">Дата заказа: <?php echo htmlspecialchars($this->order_data['order_contacts']['ins_fmt']) ; ?> </span>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12 col-md-12">
                <p>Постоянная ссылка заказа: <a href="<?php echo $this->baseUrl('/order/' . htmlspecialchars($this->order_data['order_contacts']['order_id'])); ?>">
                        <?php echo $this->baseUrl('/order/' . htmlspecialchars($this->order_data['order_contacts']['order_id'])); ?>
                    </a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="section-header">Содержимое заказа:</h2>
            </div>
        </div>
        <?php
        /**
         * Вспомогательные функции :
         *
         * $this->FormatPrice() - выводит отформатированную строку товара
         *
         * *************************************************************************
         *
         * $this->order_data['order_products'] - массив заказанных товаров
         * $row_counter - счетчик для строки товара
         * $total_amount - сумма товаров
         * $row_amount - сумма по товару ???
         *
         * **************************************************************************
         *
         * Атрибуты товара :
         *  product_count - количество
         *  article_image - изображение
         *  cat_link - ссылка на родителя
         *  product_art - код
         *  article_code - артикул
         *  art_price - цена
         *  product_total - сумма по товару
         *
         */
        if(is_array($this->order_data['order_products']) && count($this->order_data['order_products'])) : ?>
            <?php $row_counter = 1; $total_amount = 0; ?>


            <?php foreach ($this->order_data['order_products'] AS $product) : ?>
                <?php if(intval( $product['product_count'] ) == 0) : ?>
                    //no qty=0 products @order
                    <?php continue; ?>
                <?php endif; ?>

                <?php
                $row_amount = $this->RoundPrice($product['product_count']  * $this->RoundPrice($product['art_price']));
                $total_amount += $row_amount;

                $product['fullname_fmt'] = ($product['article_code'])? $product['article_code']:'';

                if($product['article_name']) : ?>
                    <?php $product['fullname_fmt'] = $product['article_name'] . ' (' . $product['fullname_fmt'] . ')'; ?>
                <?php endif; ?>

                <?php if ($product['product_art'] == 'DLVR-001') : ?>
                    <?php $product['art_price'] = $product['product_price']; ?>
                <?php endif; ?>

                <div class="row">
                    <div class="col-md-2">
                        <?php if( $product['article_image'] ): ?>
                            <a href="<?php echo $this->baseUrl('catalog/' . $product['cat_link'] .'?art='. htmlspecialchars($product['product_art'])); ?>">
                                <img style="margin:0 auto;" class="img-responsive" src="http://cdn.strikepro.ru/<?php echo $product['article_image']; ?>">
                            </a>
                        <?php else : ?>
                            <a href="<?php echo $this->baseUrl('catalog/' . $product['cat_link'] .'?art='. htmlspecialchars($product['product_art'])); ?>">
                                <img style="margin:0 auto;" class="img-responsive" src="http://cdn.strikepro.ru/default.png">
                            </a>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-5">
                        <p><?php echo $product['fullname_fmt']; ?></p>
                        <span class="label label-info">артикул: <?php echo $this->escape($product['product_art']) ; ?></span>
                        <?php if($product['article_code']) : ?>
                            <span class="label label-success">код товара: <?php echo $this->escape($product['article_code']) ; ?></span>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-2">
                        <p>Цена: <strong><?php echo $this->RoundPrice($product['art_price']); ?></strong> руб.</p>
                    </div>
                    <div class="col-md-1">
                        <p><strong>x <?php echo $this->RoundPrice($product['product_count']); ?></strong> шт.</p>
                    </div><div class="col-md-2">
                        <p>Сумма: <strong><?php echo $this->RoundPrice($product['product_total']); ?></strong> руб.</p>
                    </div>
                </div>
                <hr>

                <?php $row_counter++; ?>
            <?php endforeach; ?>
                <tr>
                    <td colspan="6" class="rmal">
                        <div align="center"><hr class="w80" /></div>
                        Итого: <b><?php echo $this->FormatPrice($this->order_data['order_contacts']['total']); ?>р.</b>&nbsp;
                    </td>
                </tr>
            </table>
        <?php else : ?>
            <p>Товары по заказу не найдены.</p>
        <?php endif; ?>

        <?php if (!$this->outdated_order): ?>
            <form action="<?php echo htmlspecialchars($this->rbcmoney['payurl']) ; ?>" method="post" accept-charset="utf-8" onSubmit="javascript:return true;">
                <input type="hidden" name="eshopId" value="<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
                <input type="hidden" name="orderId" value="<?php echo htmlspecialchars($this->rbcmoney['orderId']) ; ?>" />
                <input type="hidden" name="serviceName" value="Заказ #<?php echo htmlspecialchars($this->rbcmoney['orderId']) ; ?>" />
                <input type="hidden" name="recipientAmount" value="<?php echo htmlspecialchars($this->rbcmoney['orderAmount']) ; ?>" />
                <input type="hidden" name="recipientCurrency" value="<?php echo htmlspecialchars($this->rbcmoney['currency']) ; ?>" />
                <input type="hidden" name="successUrl" value="<?php echo htmlspecialchars($this->rbcmoney['successUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
                <input type="hidden" name="failUrl" value="<?php echo htmlspecialchars($this->rbcmoney['failUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
                <input type="hidden" name="user_email" value="<?php echo htmlspecialchars($this->rbcmoney['user_email']) ; ?>" />

                <?php
                    $product_arts = str_split($this->rbcmoney['product_arts'], 250);
                    $art_count = 1;
                ?>
                <?php foreach ($product_arts as $product_art) : ?>
                    <input type="hidden" name="userField_<?php echo $art_count; ?>" value="<?php echo htmlspecialchars($product_art) ; ?>" />
                    <?php $art_count++; ?>
                <?php endforeach; ?>

                <i>Если вы ещё не оплатили заказ, или оплатили не полностью, пожалуйста, нажмите на кнопку &quot;Возобновить оплату&quot;.</i>
                <div align="right"><input type="submit" name="button" value="Возобновить оплату" /></div>
            </form>
        <?php else : ?>
            <p align="center"><i>Некоторые товары более недоступны для заказа. Пожалуйста, сформируйте новый заказ.</i></p><br>
        <?php endif; ?>

    <?php else : ?>
            <?php // Если код проверки введен неправильно ?>

           <form action="/order/<?php echo $this->escape($this->order_id); ?>?rnd=<?php echo rand(10000, 99999); ?>" method="post" accept-charset="utf-8" onSubmit="javascript:return true;" name="capt">
                Антиспам - Проверка:<br />
                <div class="lual">
                    <input type="hidden" name="captcha[id]" value="<?php echo $this->escape($this->captchaid); ?>" />
                    <span class="fl ctal p5">
                        <label for="captcha_input" <?php if(@array_key_exists('captcha', $this->formerrors) && $this->formerrors['captcha']){echo ' class="r" ';} ?>><sup class="r">(*)</sup> Введите, пожалуйста, символы с изображения <sup class="r">(*)</sup>:</label> <br />
                        ========&gt;&nbsp;&nbsp;<input type="text" name="captcha[input]" id="captcha_input" size="5" value="" maxlength="8"/>&nbsp;&nbsp;&lt;========
                    </span>
                    <a onClick="javascript:updCaptcha(this);return false;" title="Обновить изображение" href="/cart/preorder?rnd=<?php echo rand(10000, 99999); ?>"><img src="/images/captchas/<?php echo $this->escape($this->captchaid); ?>.png" width="200" height="100" border="0"/></a>
                </div>

                <br/><br/>

                <input type="submit" value="посмотреть заказ" style="position: relative; left: 300px;">
           </form>
    <?php endif; ?>
</div>
<script type="text/javascript">
	document.forms['capt'].elements['captcha[input]'].focus();
</script>
