<h2 class="error">Ошибка при работе с модулем заказов</h2>
<?php

    if(!defined($this->messagesubclass)){
        $this->messagesubclass = 'error';
    }
    if($this->message){
        echo '<div align="center" style="padding:1em;"><span class="'.($this->messagesubclass).'message">'.($this->message).'</span></div>';
    }
    
?>

