<?php
    $config = new Zend_Config_Ini('../application/configs/application.ini', 'production');
    $delivery_cfg = new Zend_Config_Ini('configs/strikepro.ini', 'delivery');
?>

<?php
    $this->headLink()->appendStylesheet($this->baseUrl('styles/wss_main.css'));
?>

<?php
    $this->inlineScript()->appendFile($this->baseUrl('vendor/wss/js/cart.js'));
?>

<?php
$this->HeadTitle('Ваша корзина');
?>

<?php if( $delivery_cfg->freedeliveryamount ) : ?>
<div class="row" style="margin: 20px auto;">
    <div class="col-md-8"><h1 class="content-header">Ваша корзина</h1></div>
    <div class="col-md-4">
        <?php if(is_array($this->cart) && count($this->cart) ) : ?>
            <p class="text-right"><a type="buttom" class="btn btn-default empty_cart" href="<?php echo $this->baseUrl('cart'); ?>"
            onClick="javascript:askEmptyCart(); return false;">
                Очистить корзину
            </a></p>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>

<?php if(is_array($this->cart) && count($this->cart) ) : ?>

    <?php
        $rowcnt = 1;
        $summ = 0;
        $total_quantity = 0;
    ?>
    <form id="cartform"
          action="<?php echo $this->baseUrl('cart/setquantity'); ?>"
          method="post"
          accept-charset="utf-8"
          onSubmit="javascript:return true;">
        <div class="row">
            <div class="col-md-12">
                <?php foreach ($this->cart as $productrow) : ?>

                    <?php
                    $rowsumm = $this->RoundPrice($productrow['product_count']*$this->RoundPrice($productrow['art_price']));
                    $summ += $rowsumm;
                    $total_quantity += $productrow['product_count'];


                    $productrow['fullname_fmt'] = ($productrow['article_code'])? $productrow['article_code']:'';

                    if($productrow['article_name'])
                    {
                        $productrow['fullname_fmt'] = $productrow['article_name'] . ' (' . $productrow['fullname_fmt'] . ')';
                    }
                    ?>

                        <div class="panel panel-default<?php if(!intval($productrow['product_count'])) echo ' zerocount'; ?>" id="product_row_<?php echo $rowcnt ; ?>">
                            <div class="panel-body" style="padding:10px;">
                                <div class="row">
                                    <div class="col-md-offset-10 col-md-2">
                                            <p class="text-right"><i class="fa fa-1x fa-trash-o"
                                               style="color:#9a9a9a"
                                               onClick="javascript:rmFromCart('<?php echo $rowcnt ; ?>', '<?php echo $this->JsEscape($this->escape($productrow['product_art'])) ; ?>');return false;"
                                               href="/cart/rmproduct?art=<?php echo htmlspecialchars($productrow['product_art']); ?>" onmouseover="this.style.cursor='pointer';">
                                            </i></p>
                                    </div>
                                </div>
                                <div class="row" style="min-height:100px; padding:20px 0px;">
                                    <div class="col-xs-12 col-md-2">
                                        <?php if( $productrow['article_image'] ): ?>
                                            <a href="<?php echo $this->baseUrl('catalog/' . $productrow['cat_link'] .'?art='. htmlspecialchars($productrow['product_art'])); ?>">
                                                <img style="margin:0 auto;" class="img-responsive" src="http://cdn.strikepro.ru/<?php echo $productrow['article_image']; ?>">
                                            </a>
                                        <?php else : ?>
                                            <a href="<?php echo $this->baseUrl('catalog/' . $productrow['cat_link'] .'?art='. htmlspecialchars($productrow['product_art'])); ?>">
                                                <img style="margin:0 auto;" class="img-responsive" src="http://cdn.strikepro.ru/default.png">
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <p><?php echo $productrow['fullname_fmt']; ?></p>
                                        <span class="label label-info">артикул: <?php echo $this->escape($productrow['product_art']) ; ?></span>
                                        <span class="label label-success">код товара: <?php echo $this->escape($productrow['article_code']) ; ?></span>
                                    </div>
                                    <div style="padding:10px;" class="col-xs-6 col-md-2">
                                        <input style="display:none;"
                                               value="<?php echo htmlspecialchars($productrow['product_art']) ; ?>"
                                               name="art_row_<?php echo $rowcnt ; ?>"
                                               type="hidden">
                                        <div class="input-group" style="width:120px;">
                                            <span style="cursor:pointer;" class="input-group-addon quantity_minus"><i class="fa fa-minus"></i></span>
                                            <input value="<?php echo $productrow['product_count'] ; ?>"
                                                   style="text-align:center;"
                                                   class="artqtyinput form-control"
                                                   placeholder=".col-md-1"
                                                   name="qty_row_<?php echo $rowcnt ;?>"
                                                   type="text">
                                            <span style="cursor:pointer;" class="input-group-addon quantity_plus"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-2" style="text-align: center; padding:10px;">
                                        <span style="line-height:32px;">
                                            <span class="art_price"><?php echo $this->FormatPrice($productrow['art_price']) ; ?></span> руб.
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin:0 auto; width:90%; padding:10px; min-height:40px;border-top:1px dashed #eaeaea;">
                                    <div class="col-md-offset-6 col-md-6">
                                        <p class="text-right">Сумма: <strong><span class="art_total"><?php echo $this->FormatPrice($rowsumm) ; ?></span></strong> руб.</p>
                                    </div>
                                </div>
                                <?php if ($this->WaitingList($productrow['product_art'])) : ?>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning">
                                            <strong>Внимание!</strong> Отправка заказа с этим товаром будет произведена 3 декабря 2018 года.
                                        </div>
                                    </div>
                                </div>
                                <?php endif; ?>
                            </div>

                        </div>
                    <?php $rowcnt++; ?>
                <?php endforeach; ?>
            </div>
        </div>
            <?php

            /**
             * prepare delivery
             */

            if(!intval($this->dlvr_mode_idx) && array_key_exists('dlvr_mode_idx', $_REQUEST))
            {
                $this->dlvr_mode_idx = $_REQUEST['dlvr_mode_idx'];
            }
            if(!intval($this->dlvr_mode_idx))
            {
                $this->dlvr_mode_idx = 1;
            }
            if(intval($this->dlvr_mode_idx) > count($delivery_cfg->deliverynames))
            {
                $this->dlvr_mode_idx = 1;
            }

            $dlv_idx = 1;
            $deliverycosts = $delivery_cfg->deliveryprices->$dlv_idx;

            if($delivery_cfg->freedeliveryamount)
            {
                if($summ > $delivery_cfg->freedeliveryamount)
                {
                    $deliverycosts = 0;
                }
            }

            $summ_with_delivery = $summ + $deliverycosts;

            ?>
        <div class="row">
            <div class="col-md-12">
                <div class="preorder_list">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="section-header">Ваш заказ</h2>
                            <hr>
                            <div class="row" style="height:50px;">
                                <div class="col-md-6">
                                    <p class="text-left">Всего товаров:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-right"><strong><span id="cartblock_countitems"><?php echo $total_quantity; ?></span></strong>  шт.</p>
                                </div>
                            </div>
                            <div class="row" style="height:50px;">
                                <div class="col-md-7">
                                    <p class="text-left">Итого за товары:</p>
                                </div>
                                <div class="col-md-5">
                                    <p class="text-right"><strong><span id="cartblock_summ"><?php echo $this->RoundPrice($summ); ?></span></strong> руб.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <i style="color: rgba(123, 181, 48, 1);" class="fa fa-2x fa-info-circle fa-align-center"></i><br>
                                                </div>
                                                <div class="col-md-10">
                                                    <span>Доставка заказов на сумму более <?php echo $delivery_cfg->freedeliveryamount;?> рублей бесплатна.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height:50px;">
                                <div class="col-md-6">
                                    <p class="text-left">Доставка:</p>
                                    <input checked="checked" type="radio" value="<?php echo $dlv_idx; ?>" id="dlvr_mode_idx_<?php echo $dlv_idx; ?>" name="dlvr_mode_idx" hidden/>
                                    <input type="hidden" value="<?php echo $this->escape($this->RoundPrice($delivery_cfg->deliveryprices->$dlv_idx)); ?>" name="dlvr_costs_byidx_<?php echo $dlv_idx; ?>"/>
                                    <input type="hidden" value="<?php echo $this->escape($this->RoundPrice($summ)); ?>" name="wodeliverycosts"/>
                                    <input type="hidden" value="<?php echo $this->escape($this->RoundPrice($delivery_cfg->freedeliveryamount)); ?>" name="deliveryfreeamount"/>
                                    <input type="hidden" value="<?php echo $this->escape($this->RoundPrice($deliverycosts)); ?>" name="deliverycosts"/>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-right">
                                        <strong><span id="cart_products_delivery">
                                                <?php echo $this->escape($this->RoundPrice($deliverycosts)); ?>
                                            </span></strong> руб.
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="height:50px;">
                                <div class="col-md-6">
                                    <p class="text-left">Итого:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-right section-header" style="font-size:24px;">
                                        <strong><span id="cart_products_summ"><?php echo $this->escape($this->RoundPrice($summ_with_delivery)); ?></span></strong> руб.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-9 col-md-3" style="margin-top:50px;">
                                    <a href="<?php echo $this->baseUrl('cart/preorder?rnd=' . rand(10000, 99999)); ?>" style="margin:0 auto; width:100%;" type="submit" class="btn btn-success">Оформить заказ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        

    <?php endif; ?>
    <?php if(!is_array($this->cart) || count($this->cart) < 1 ) : ?>
        <div class="alert alert-warning text-center" role="alert">В корзине пока нет ни одного товара :(</div>
    <?php endif; ?>


