﻿<?php
    $config = new Zend_Config_Ini('../application/configs/application.ini', 'production');
?>
<?php
$this->HeadTitle('Ваш заказ оформлен');
?>
<div>
<h1 class="content-header">Заказ сохранен, перенаправление на платежную систему.</h1>
    <br>
    <p><strong>Номер заказа: #<?php echo $this->FormatOrderNum(htmlspecialchars($this->acquiring['PurchaseDesc'])) ; ?></strong></p>
    <br>
    <p>Постоянная ссылка на заказ: <a target="_blank" href="<?php echo $this->baseUrl('order/' . htmlspecialchars($this->acquiring['PurchaseDesc']) ); ?>">
        <?php echo $this->baseUrl('order/'. htmlspecialchars($this->acquiring['PurchaseDesc'])); ?></a></p>
    <br>
<form id="submit_to_payment_form" action="<?php echo htmlspecialchars($this->acquiring['PaymenentURL']) ; ?>" method="post" accept-charset="utf-8">
    <input type="hidden" name="PurchaseAmt" value="<?php echo htmlspecialchars($this->acquiring['PurchaseAmt']) ; ?>" />
    <input type="hidden" name="PurchaseDesc" value="<?php echo htmlspecialchars($this->acquiring['PurchaseDesc']) ; ?>" />
    <input type="hidden" name="CountryCode" value="<?php echo htmlspecialchars($this->acquiring['CountryCode']) ; ?>" />
    <input type="hidden" name="CurrencyCode" value="<?php echo htmlspecialchars($this->acquiring['CurrencyCode']) ; ?>" />
    <input type="hidden" name="MerchantName" value="<?php echo htmlspecialchars($this->acquiring['MerchantName']) ; ?>" />
    <input type="hidden" name="MerchantURL" value="<?php echo htmlspecialchars($this->acquiring['MerchantURL']) ; ?>" />
    <input type="hidden" name="MerchantCity" value="<?php echo htmlspecialchars($this->acquiring['MerchantCity']) ; ?>" />
    <input type="hidden" name="MerchantID" value="<?php echo htmlspecialchars($this->acquiring['MerchantID']) ; ?>" />
    <input type="hidden" name="SuccessURL" value="<?php echo htmlspecialchars($this->acquiring['SuccessURL']) ; ?>" />
    <input type="hidden" name="FailURL" value="<?php echo htmlspecialchars($this->acquiring['FailURL']) ; ?>" />
    <input type="hidden" name="Email" value="<?php echo htmlspecialchars($this->acquiring['Email']) ; ?>" />

<!--    --><?php
//        $product_arts = str_split($this->rbcmoney['product_arts'], 250);
//        $art_count = 1;
//        foreach ($product_arts as $product_art) {
//    ?>
<!--            <input type="hidden" name="userField_--><?php //echo $art_count; ?><!--" value="--><?php //echo htmlspecialchars($product_art) ; ?><!--" />-->
<!--    --><?php
//            $art_count++;
//        }
//    ?>
    <i>Перенаправление на платежную систему произойдёт в течение 10 секунд, <br />
    если перенаправление не происходит, нажмите пожалуйста на кнопку &quot;оплатить&quot;.</i>
    <br />
    <div align="right"><input type="submit" name="button" value="Оплатить"/></div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#submit_to_payment_form').submit();
        }, 10000);
    });
</script>
</div>