<?php
$this->HeadTitle('Платеж зачислен');
?>

<h1 class="content-header">Спасибо за покупку! <i class="fa fa-smile-o"></i></h1>
<br>
<p>Платежная система сообщила о удачном проведении платежа. </p>
<p>Заказ будет отправлен вам в ближайшее время.</p>
<br>
<p>C уважением, команда StrikePro Россия.</p>