<?php
$this->HeadTitle('Ошибка платежа');
?>
<h1 class="content-header">Счет не оплачен :(</h1>
<br>
<p>Платежная система сообщила нам о том, что оплата по вашему счету не прошла.</p>
<p>Пожалуйста, свяжитесь c нами по телефону +7 (981) 878 52 72 для выяснения обстоятельств отказа оплаты.</p>
<br>
<p>C уважением, команда StrikePro Россия.</p>