<?php
$config = new Zend_Config_Ini('../application/configs/application.ini', 'production');
$delivery_cfg = new Zend_Config_Ini('../application/configs/strikepro.ini', 'delivery');
?>

<?php
$this->headLink()->appendStylesheet($this->baseUrl('styles/wss_main.css'));
?>

<?php
$this->inlineScript()->appendFile($this->baseUrl('vendor/jquery/jquery.AddIncSearch.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/wss/js/wss_addr_finder.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/wss/js/wss_addr_finder.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/preorder.js'));
?>
<?php
$this->HeadTitle('Оформление заказа');
?>

<h1 class="content-header">Оформление заказа</h1>
<br>
<?php if (is_array($this->cart) && count($this->cart)) : ?>

    <?php
    $rowcnt = 1;
    $summ = 0;
    ?>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="section-header">Заказанные товары:</h1>
            <hr>
            <?php foreach ($this->cart AS $productrow) : ?>

                <?php if (intval($productrow['product_count']) == 0) : ?>

                    //no qty=0 products @order
                    <?php continue; ?>

                <?php endif; ?>

                <?php
                $rowsumm = $this->RoundPrice($productrow['product_count'] * $this->RoundPrice($productrow['art_price']));
                $summ += $rowsumm;

                $productrow['fullname_fmt'] = ($productrow['article_code']) ? $productrow['article_code'] : '';

                if ($productrow['article_name']) {
                    $productrow['fullname_fmt'] = $productrow['article_name'] . ' (' . $productrow['fullname_fmt'] . ')';
                }
                ?>
                <div class="row">
                    <div class="col-md-2">
                        <?php if ($productrow['article_image']): ?>
                            <a href="<?php echo $this->baseUrl('catalog/' . $productrow['cat_link'] . '?art=' . htmlspecialchars($productrow['product_art'])); ?>">
                                <img style="margin:0 auto;" class="img-responsive"
                                     src="http://cdn.strikepro.ru/<?php echo $productrow['article_image']; ?>">
                            </a>
                        <?php else : ?>
                            <a href="<?php echo $this->baseUrl('catalog/' . $productrow['cat_link'] . '?art=' . htmlspecialchars($productrow['product_art'])); ?>">
                                <img style="margin:0 auto;" class="img-responsive"
                                     src="http://cdn.strikepro.ru/default.png">
                            </a>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-5">
                        <p><?php echo $productrow['fullname_fmt']; ?></p>
                        <span class="label label-info">артикул: <?php echo $this->escape($productrow['product_art']); ?></span>
                        <span class="label label-success">код товара: <?php echo $this->escape($productrow['article_code']); ?></span>
                    </div>
                    <div class="col-md-2">
                        <p>Цена: <strong><?php echo $this->RoundPrice($productrow['art_price']); ?></strong> руб.</p>
                    </div>
                    <div class="col-md-1">
                        <p><strong>x <?php echo $this->RoundPrice($productrow['product_count']); ?></strong> шт.</p>
                    </div>
                    <div class="col-md-2">
                        <p>Сумма: <strong><?php echo $this->RoundPrice($rowsumm); ?></strong> руб.</p>
                    </div>
                </div>
                <hr>
            <?php endforeach; ?>

            <?php

            /**
             * prepare delivery
             */

            if (!intval($this->dlvr_mode_idx) && array_key_exists('dlvr_mode_idx', $_REQUEST)) {
                $this->dlvr_mode_idx = $_REQUEST['dlvr_mode_idx'];
            }
            if (!intval($this->dlvr_mode_idx)) {
                $this->dlvr_mode_idx = 1;
            }
            if (intval($this->dlvr_mode_idx) > count($delivery_cfg->deliverynames)) {
                $this->dlvr_mode_idx = 1;
            }

            $dlv_idx = 1;
            $deliverycosts = $delivery_cfg->deliveryprices->$dlv_idx;


            if ($delivery_cfg->freedeliveryamount) {
                if ($summ > $delivery_cfg->freedeliveryamount) {
                    $deliverycosts = 0;
                }
            }

            $summ_with_delivery = $summ + $deliverycosts;

            ?>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-right section-header">Доставка:
                        <strong><span><?php echo $this->RoundPrice($deliverycosts); ?></span></strong> руб.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-right section-header">Итого:
                        <strong><span><?php echo $this->RoundPrice($summ_with_delivery); ?></span></strong> руб.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="section-header">Информация о продавце:</h2>
            <hr>
            <p>Общество с ограниченной ответственностью "Страйк Про"</p>
            <p>ИНН / КПП : 7810555003 / 781001001</p>
            <p>ОГРН : 1097847147551</p>
            <p>196128, Санкт-Петербург г, Кузнецовская ул, дом № 13, литера А, помещение 2-Н</p>
            <p>телефон: +7 (981) 878 52 72</p>
            <p>email: shop@strikepro.ru</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="section-header">Контактная информация покупателя:</h2>
            <hr>
            <form id="preorderform"
                  class="form-horizontal"
                  action="<?php echo $this->baseUrl('cart/makeorder?rnd=' . rand(10000, 99999)); ?>"
                  method="post"
                  accept-charset="utf-8"
                  onSubmit="javascript: return preorderformChk();">

                <input type="hidden" value="<?php echo $this->escape($this->dlvr_mode_idx); ?>" id="dlvr_mode_idx"
                       name="dlvr_mode_idx"/>

                <div class="form-group">
                    <label class="col-md-2 control-label<?php if (array_key_exists('fio', $this->formerrors) && $this->formerrors['fio']) {
                        echo ' r';
                    } ?>"
                           for="orderform_fio">ФИО:
                    </label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" size="48" maxlength="252" name="fio" id="orderform_fio"
                               value="<?php echo htmlspecialchars($this->formvals['fio']); ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label<?php if (array_key_exists('fio', $this->formerrors) && $this->formerrors['email']) {
                        echo ' r';
                    } ?>"
                           for="orderform_email">Email:
                    </label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" size="48" maxlength="252" name="email"
                               id="orderform_email" value="<?php echo htmlspecialchars($this->formvals['email']); ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label<?php if (array_key_exists('fio', $this->formerrors) && $this->formerrors['phone']) {
                        echo ' r';
                    } ?>"
                           for="orderform_phone">Телефон:
                    </label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" size="48" maxlength="252" name="phone"
                               id="orderform_phone" value="<?php echo htmlspecialchars($this->formvals['phone']); ?>">
                    </div>
                </div>

                <h2 class="section-header">Адрес доставки:</h2>
                <hr>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="selectRegion">Регион: </label>
                    <div class="col-md-10">
                        <select class="form-control enable noenter" id="selectRegion" name="selectRegion"
                                onchange="SelectRegion(this)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="selectDistrict">Район: </label>
                    <div class="col-md-10">
                        <select class="form-control enable noenter" id="selectDistrict" name="selectDistrict"
                                onchange="SelectDistrict(this)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="selectSettlement">Населенный пункт: </label>
                    <div class="col-md-10">
                        <select class="form-control enable noenter" id="selectSettlement" name="selectSettlement"
                                onchange="SelectSettlement(this)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="selectStreet">Улица: </label>
                    <div class="col-md-10">
                        <select class="form-control enable noenter" id="selectStreet" name="selectStreet"
                                onchange="SelectStreet(this)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="HouseNumber">Номер дома: </label>
                    <div class="col-md-10">
                        <input class="form-control enable noenter" id="HouseNumber" name="HouseNumber"
                               value="<?php if (array_key_exists('nf_dom', $this->formvals)) {
                                   echo htmlspecialchars($this->formvals['nf_dom']);
                               } ?>"
                               onchange="HouseNumberChange()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="HouseNumber">Корпус / Дробь : </label>
                    <div class="col-md-10">
                        <input class="form-control enable noenter" id="HouseSubNumber" name="HouseSubNumber"
                               value="<?php if (array_key_exists('nf_domsub', $this->formvals)) {
                                   echo htmlspecialchars($this->formvals['nf_domsub']);
                               } ?>"
                               onchange="HouseSubNumberChange()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="ApartmentNumber">Кв. / Офис / Пом. : </label>
                    <div class="col-md-10">
                        <input class="form-control enable noenter" id="ApartmentNumber" name="ApartmentNumber"
                               value="<?php if (array_key_exists('nf_kva', $this->formvals)) {
                                   echo htmlspecialchars($this->formvals['nf_kva']);
                               } ?>"
                               onchange="ApartmentNumberChange()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="IndexNumber">Индекс : </label>
                    <div class="col-md-10">
                        <input class="form-control enable noenter" id="IndexNumber" name="IndexNumber"
                               value="<?php if (array_key_exists('nf_idx', $this->formvals)) {
                                   echo htmlspecialchars($this->formvals['nf_idx']);
                               } ?>"
                               onchange="IndexNumberChange()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="ResultAddressHidden" id="ResultAddressHidden" value=""/>
                        <div class="well well-sm">
                            <span id="ResultAddress"></span><span id="ctl00_CPH_A_RequiredFieldValidatorReg"
                                                                  style="color: Red; display: none;"></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-12">
                        <input id="ButtonFindOPS" value="Найти" style="height: 32px; width: 80px;" type="button"
                               onclick="Find(); return false;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><i style="color: rgba(123, 181, 48, 1);"
                                                             class="fa fa-2x fa-info-circle"></i></label>
                    <div class="col-md-10">
                        <em><p>Если вы не нашли ваш адрес в нашей базе, то, пожалуйста, укажите его подробно в поле
                                &quot;Комментарии&quot;.</p></em>
                        <em><p>Все подробности по доставке, просьба также указывать в поле &quot;Комментарии&quot;.</p>
                        </em>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="orderform_comments">Комментарии : </label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="orderform_comments"
                                  name="comments"><?php echo htmlspecialchars($this->formvals['comments']); ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="orderform_comments">Антибот : </label>
                    <div class="col-md-10">
                        <input type="hidden" name="captcha[id]" value="<?php echo $this->escape($this->captchaid); ?>">
                        <a onClick="javascript:updCaptcha(this); return false;" title="Обновить изображение"
                           href="/cart/preorder?rnd=<?php echo rand(10000, 99999); ?>">
                            <img style="margin:10px;"
                                 src="<?php echo $this->baseUrl('images/captchas/' . $this->escape($this->captchaid)); ?>.png"
                                 width="200" height="100" border="0">
                        </a>
                        <input class="form-control" type="text" name="captcha[input]" id="captcha_input"
                               style="width:220px;" size="5" value="" maxlength="8">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="ApartmentNumber"></label>
                    <div class="col-md-10">
                        <input type="checkbox" id="PrivacyAgreement" name="PrivacyAgreement" onchange="void()">
                        <span>Согласие с <a target="_blank" href="<?php echo $this->baseUrl("privacy"); ?>">политикой конфиденциальности</a> и <a
                                    target="_blank" href="<?php echo $this->baseUrl("store"); ?>">возврата</a> при оплате картой.</span>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="makeorderbutton" style="width:220px;" type="submit" class="btn btn-success">Оформить заказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<?php endif; ?>
<?php if (!is_array($this->cart) || count($this->cart) < 1) : ?>
    <div class="alert alert-warning text-center" role="alert">В корзине пока нет ни одного товара, поэтому оформлять
        нечего :(
    </div>
<?php endif; ?>
