<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="nav-second container-fluid">
        <div class="container">
            <ul class="nav-second-elements list-inline pull-left">
                <li>
                    <a href="https://www.facebook.com/StrikeProRussia/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://new.vk.com/public92751382"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/strikeprorussia/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/StrikeProRussia"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class="nav-second-elements list-inline pull-right">
                <li><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i><span style="position:relative; top:-5px;"> +7 981 878 52 72 </span></li>
                <li><a>
                        <span id="popup"
                              data-container="body"
                              data-toggle="popover"
                              data-placement="bottom"
                              data-html="true"
                              data-trigger="click focus"
                              data-template='<div class="popover" role="tooltip" style="position:fixed;min-width:600px;width:600px;"><div class="arrow"></div><div class="popover-content"></div></div>'
                              data-content='<?php echo $this->DisplayProducts('popup'); ?>'>
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            <span id="count-item" class="badge" style="position:absolute; top:-3px left:-4px; background-color: white; color: #0f0f0f;"><?php echo $this->CountItem(); ?></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- Title -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/strikepro_logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/company">О компании</a></li>
                <li><a href="/catalog">Каталог продукции</a></li>
                <li><a href="/store">Оплата</a></li>
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/feedback">Контакты</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>