<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="9e64975ba57928fe" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <?php $this->HeadTitle('Strike Pro'); ?>
    <?php $this->headTitle()->setSeparator(' / '); ?>
    <?php echo $this->HeadTitle(); ?>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom vendor styles -->
    <link rel="stylesheet" href="/vendor/jgrowl/css/jquery.jgrowl.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <?php echo $this->HeadLink(); ?>

    <!-- Custom styles -->
    <link rel="stylesheet" href="/styles/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/vendor/html5shiv/js/html5shiv.min.js"></script>
    <script src="/vendor/respond/js/respond.min.js"></script>
    <![endif]-->
    <!-- Hide Url Bar Nav on Iphone -->
    <script type="text/javascript">
        // hide URL field on the iPhone/iPod touch
        function hideUrlBar() {
            if (window.pageYOffset==0) {
                window.scrollTo(0, 1);
                // repeat every second for slow rendering pages
                setTimeout(function() { hideUrlBar(); }, 3000);
            }
        }
    </script>
</head>