<?php $this->headLink()->appendStylesheet($this->baseUrl('vendor/application/css/files-browse.css')); ?>

<div class="row masonry-container" id="file-box">
<?php foreach ($this->files AS $file): ?>
    <div class="col-xs-4 col-sm-2 item" data-key="<?php echo $file->get(); ?>">
        <div class="thumbnail file-container">
            <img class="file img-responsive img-thumbnail" src="<?php echo $this->baseUrl($this->url .'/'. $file->get()); ?>">
            <div class="caption">
                <p><a href="javascript:void(0);" class="btn btn-sm btn-success selectFileButton" role="button">выбрать</a>
                <a href="javascript:void(0);" data-file="<?php echo $file->get(); ?>" class="btn btn-sm btn-danger deleteFileButton" role="button">удалить</a></p>
            </div>
        </div>
    </div>
<?php endforeach; ?>
</div>
<?php echo $this->partial('files/helpers/add-file-modal.phtml'); ?>
<?php echo $this->partial('files/helpers/delete-file-modal.phtml'); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/masonry/masonry.pkgd.min.js')); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/masonry/imagesloaded.pkgd.min.js')); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/simple-ajax-uploader/SimpleAjaxUploader.min.js')); ?>


<?php $this->headScript()->captureStart(); ?>
<?php echo $this->partial('files/js/browse.js'); ?>
<?php $this->headScript()->captureEnd() ?>



