<?php
$this->headLink()->appendStylesheet($this->baseUrl('vendor/shop/css/shop.css'));
$this->headLink()->appendStylesheet($this->baseUrl('vendor/fp/skin/minimalist.css'));
?>

<?php
$this->inlineScript()->appendFile($this->baseUrl('vendor/shop/js/shop2.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/fp/flowplayer.min.js'));
$this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/application-old.js'));
?>
<?php
$this->HeadTitle($this->goods_object->article_name);
?>
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="container-fluid">
					<?php if($this->goods_object->article_image_big) : ?>
						<img class="img-responsive" style="max-height: 360px; height:auto;" src="<?php echo 'http://cdn.strikepro.ru/' . $this->goods_object->article_image_big; ?>">
					<?php else : ?>
						<img class="img-responsive" src="http://cdn.strikepro.ru/default_group.png">
					<?php endif; ?>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h1 class="content-header">
                    <?php echo $this->goods_object->article_name; ?>
                    <?php if ($this->goods_object->article_new == 1): ?>
                        <span class="label label-danger" style="font-size: medium;">NEW</span>
                    <?php endif; ?>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        <ul id="article-info-labels" style="padding:0;">
                            <?php if($this->goods_object->article_art) :?>
                                <li class="label label-default">артикул: <span id="article-art"><?php echo @$this->goods_object->article_art; ?></span></li>
                            <?php endif; ?>
                            <?php if($this->goods_object->article_code) :?>
                                <li class="label label-info">код: <span id="article-code"><?php echo @$this->goods_object->article_code; ?></span></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-6">
                        <p align="center" style="font-size: 1.5em; color:#b8860b; display: block">
                            Цена: <span id="article-price"><?php echo (int)$this->goods_object->art_price; ?></span> руб.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <?php if($this->goods_object->art_insale) : ?>
                            <form id="addtocartform" action="/cart/addproduct" style="text-align: left; method="post" accept-charset="utf-8">
                                <input data-insale="1" id="art" type="hidden" value="<?php echo @$this->goods_object->article_art; ?>" name="art"/>
                                <span onclick="javascript:itemplusminus(-1);" style="cursor:pointer; color:#d3d3d3;"
                                      class="glyphicon glyphicon-minus"></span>
                                <input id="quantity"
                                       name="qty"
                                       value="1"
                                       type="text"
                                       style="width:42px;"
                                       align="center"/>
                                <span onclick="javascript:itemplusminus(1);" style="cursor:pointer; color:#d3d3d3;"
                                      class="glyphicon glyphicon-plus"></span>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <button style="margin-right:30px;" type="submit" class="btn btn-success">в корзину</button>
                            </form>
                        <?php else : ?>
                            <div id="out-of-order" class="alert alert-warning" role="alert" style="margin:0 auto; padding: 2px;"><p align="center">Товара в наличии нет</p></div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
<?php if ($this->goods_object->article_description) : ?>
        <div class="row">
            <h2 class="section-header">Описание:</h2>
            <p class="description"><?php echo $this->goods_object->article_description; ?></p>
        </div>
<?php endif; ?>
    </div>