<?php
$this->headLink()->appendStylesheet($this->baseUrl('vendor/application/css/directory.css'));
?>
<?php
$this->HeadTitle($this->catalog_object->cat_name);
?>

<h1 class="content-header">
    <?php echo $this->catalog_object->cat_name; ?>
</h1>
<br>
<div class="row list-group">
    <?php foreach($this->catalog_object->child_objects AS $child_object) : ?>

        <!-- Group -->

        <?php if (isset($child_object->cat_id)): ?>

            <div class="item col-xs-12 col-md-4" style="height:300px; margin-top:40px;">
                <a class="thumbnail" href="<?php echo $this->baseUrl('catalog/'. $child_object->cat_link); ?>" style="height: 300px;">
                    <?php if ($child_object->cat_new == 1): ?>
                        <span style="font-size: 14px; position:absolute; top: 10px; right:30px;" class="label label-danger">new</span>
                    <?php endif; ?>
                        <?php if($child_object->cat_image): ?>
                            <img style="height:180px; margin: 0 auto;" class="group list-group-image img-responsive" src="<?php echo 'http://cdn.strikepro.ru/'. $child_object->cat_image_small; ?>" alt="" />
                        <?php else : ?>
                            <img style="height:180px; margin: 0 auto;" class="group list-group-image img-responsive"  src="http://cdn.strikepro.ru/default_group.png">
                        <?php endif; ?>
                    <div class="caption">
                        <h4 align="center" class="group inner list-group-item-heading">
                            <?php echo $child_object->cat_name; ?></h4>
                        <?php if($child_object->cat_codename): ?>
                            <p align="center" class="group inner list-group-item-text">(<?php echo $child_object->cat_codename; ?>)</p>
                        <?php endif; ?>
                    </div>
                </a>
            </div>

        <?php else: ?>

            <!-- Article -->

            <div class="item col-xs-12 col-md-4" style="height: 300px; margin-top:40px;">
                <a class="thumbnail" href="<?php echo $this->baseUrl('catalog/goods/'. $child_object->article_art); ?>" style="height: 300px;">
                    <?php if ($child_object->article_new == 1): ?>
                        <span style="font-size: 16px; position:absolute; top: 10px; right:30px;" class="label label-danger">new</span>
                    <?php endif; ?>
                    <?php if($child_object->article_image): ?>
                        <img style="height:180px; margin: 0 auto;" class="group list-group-image img-responsive" src="<?php echo 'http://cdn.strikepro.ru/'. $child_object->article_image; ?>" alt="" />
                    <?php else : ?>
                        <img style="height:180px; margin: 0 auto;" class="group list-group-image img-responsive"  src="http://cdn.strikepro.ru/default_group.png">
                    <?php endif; ?>
                    <hr>
                    <div class="caption">
                        <h4 align="center" class="group inner list-group-item-heading">
                            <?php echo $child_object->article_name; ?></h4>
                        <?php if(isset($child_object->article_codename)): ?>
                            <p align="center" class="group inner list-group-item-text">(<?php echo $child_object->article_codename; ?>)
                        <?php endif; ?>
                        </p>
                    </div>
                </a>
            </div>
        <?php endif; ?>

    <?php endforeach; ?>
</div>