<?php
    $this->headLink()->appendStylesheet($this->baseUrl('vendor/modal-gallery/css/modal-gallery.css'));
?>

<?php
    $this->inlineScript()->appendFile($this->baseUrl('vendor/modal-gallery/js/modal-gallery.js'));
    $this->inlineScript()->appendFile($this->baseUrl('vendor/reel-master/jquery.reel.js'));
    $this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/application.js'));
?>

<?php
$this->HeadTitle($this->catalog_object->cat_name);
?>

<div class="row">
    <div class="col-md-6">
        <div class="container-fluid">
            <img class="img-responsive" id="current_product_image" src="">
        </div>
        <div class="container-fluid" style="margin-top:20px;">
            <div class="row">
                <?php foreach($this->catalog_object->images AS $image): ?>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img src="<?php echo $image->file; ?>" alt="<?php echo $image->alt; ?>" class="product_image <?php if($image->primary == 1) echo "product_image_primary";?>">
                        </div>
                    </div>
                <?php endforeach; ?>
                <div class="col-md-3">
                    <div href="#" class="thumbnail">
                        <img src="/images/360degree.png" alt="360 градусов" id="product_image_rotation">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="content-header">
            <?php echo $this->catalog_object->cat_fullname; ?>
            <?php if ($this->catalog_object->cat_new == 1): ?>
                <span class="label label-danger" style="font-size: medium;">NEW</span>
            <?php endif; ?>
        </h1>
        <span class="product_code">код модели: <?php echo $this->catalog_object->cat_codename; ?></span>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo $this->catalog_object->cat_video; ?>?html5=1?&controls=1&showinfo=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
</div>
<?php if($this->catalog_object->cat_description) : ?>
<div class="container-fluid" style="margin-top:30px;">
    <p class="description"><?php echo $this->catalog_object->cat_description; ?></p>
</div>
<?php endif; ?>
<div class="container-fluid" style="margin-top:30px; min-height: 400px;">
    <ul id="tab_list" class="nav nav-tabs" role="tablist">
        <?php if(count($this->catalog_object->photo) >  0) : ?>
        <li role="presentation" class="active"><a data-toggle="tab" role="tab" href="#photo">Фотографии</a></li>
        <?php endif; ?>
        <?php if($this->catalog_object->cat_video_howto) : ?>
        <li role="presentation"><a data-toggle="tab" role="tab" href="#video">Видео</a></li>
        <?php endif; ?>
        <?php if(count($this->catalog_object->features) >  0) : ?>
        <li role="presentation"><a data-toggle="tab" role="tab" href="#features">Характеристики</a></li>
        <?php endif; ?>
        <?php if(count($this->catalog_object->child_objects) >  0) : ?>
        <li role="presentation"><a data-toggle="tab" role="tab" href="#color_choices">Цветовые решения</a></li>
        <?php endif; ?>
    </ul>

    <div class="tab-content" style="margin-top:30px;">

        <?php if(count($this->catalog_object->photo) >  0) : ?>
        <div role="tabpanel" id="photo" class="tab-pane fade in active">
            <div class="row">
                <?php foreach($this->catalog_object->photo AS $photo) : ?>
                    <div class="col-md-4">
                        <div  href="#" class="thumbnail">
                            <img src="<?php echo $photo->file; ?>" alt="<?php echo $photo->alt; ?>" class="product_photo">
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php endif; ?>

        <?php if($this->catalog_object->cat_video_howto) : ?>
        <div role="tabpanel" id="video" class="tab-pane fade">
            <div class="row">
                <?php
                    $movie_array = explode(";", $this->catalog_object->cat_video_howto);

                    if (count($movie_array) == 1) {
                        $w = 12;
                    }

                    if (count($movie_array) == 2) {
                    $w = 6;
                    }

                    if (count($movie_array) > 2) {
                        $w = 4;
                    }
                ?>
                <?php foreach($movie_array AS $movie) : ?>
                    <div class="col-md-<?php echo $w;?>">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo $movie; ?>?html5=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php endif; ?>

        <?php if(count($this->catalog_object->features) >  0) : ?>
            <div role="tabpanel" id="features" class="tab-pane fade">
                <?php foreach($this->catalog_object->features AS $feature) : ?>
                    <div class="row" style="padding:4px 0px;">
                        <label class="control-label col-md-3"  for="<?php echo $feature->features_id; ?>"><?php echo $feature->title; ?></label>
                        <div class="col-md-1">
                                <i class="fa fa-question-circle-o fa-1x feature-info"
                                   aria-hidden="true"
                                   data-toggle="popover"
                                   data-placement="right"
                                   data-trigger="hover"
                                    data-template='<div style="width:500px; padding:10px;" class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
                                   data-content="<?php echo $feature->description; ?>"></i>
                        </div>
                        <div class="col-md-8">
                            <p name="<?php echo $feature->features_id; ?>"><?php echo $feature->value; ?><?php if($feature->measurement) echo ' '.$feature->measurement. '.'; ?></p>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <?php if(count($this->catalog_object->child_objects) >  0) : ?>
            <div role="tabpanel" id="color_choices" class="tab-pane fade">
                <div class="row" style="margin: 20px; 0;">
                    <div class="col-md-offset-9 col-md-3">
                        <span class="pull-right">только в наличии: <input class="form-inline" type="checkbox" id="only_insale"> </span>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <?php foreach($this->catalog_object->child_objects AS $article): ?>
                        <div class="col-md-2">
                            <div href="#" class="thumbnail">
                                <img class="color_choice"
                                     data-article="<?php echo $article->article_art; ?>"
                                     data-big-image = "<?php echo $this->baseUrl('products/' . $this->catalog_object->cat_codename . $article->article_image_big); ?>"
                                     data-code = "<?php echo $article->article_code; ?>"
                                     data-color = "<?php echo $article->article_color; ?>"
                                     data-price = "<?php echo $this->RoundPrice($article->art_price); ?>"
                                     data-insale = "<?php echo $this->RoundPrice($article->art_insale); ?>"
                                     src="<?php echo $this->baseUrl('products/' . $this->catalog_object->cat_codename . $article->article_image); ?>" alt="<?php echo $article->article_code; ?>">
                                <div class="caption">
                                    <p align="center">#<?php echo $article->article_color; ?></p>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>

<?php echo $this->partial('catalog/modal.phtml', array('catalog_object' => $this->catalog_object)); ?>

