<?php
    $this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/application-old.js'));
?>
<?php
$this->HeadTitle($this->catalog_object->cat_name);
?>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <?php if($this->catalog_object->cat_image) : ?>
                    <img class="img-responsive" style="max-height: 360px; height:auto;" src="<?php echo 'http://cdn.strikepro.ru/' . $this->catalog_object->cat_image;?>">
                <?php else : ?>
                    <img class="img-responsive" src="http://cdn.strikepro.ru/default_group.png">
                <?php endif; ?>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <h1 class="content-header">
                <?php echo $this->catalog_object->cat_name; ?>
                <?php if ($this->catalog_object->cat_new == 1): ?>
                    <span class="label label-danger" style="font-size: medium;">NEW</span>
                <?php endif; ?>
            </h1>
            <span class="product_code">код модели: <?php echo $this->catalog_object->cat_codename; ?></span>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:40px;">
    <h2 class="section-header">Характеристики:</h2>
    <div class="row table__wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>код модели</th>
                <th>материал рукоятки</th>
                <th>модуль волокна</th>
                <th>тест</th>
                <th>катушкодержатель</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?php echo $this->catalog_object->cat_codename; ?></td>
                <td><?php echo $this->catalog_object->cat_type1; ?></td>
                <td><?php echo $this->catalog_object->cat_tension; ?></td>
                <td><?php echo $this->catalog_object->cat_weight; ?> гр.</td>
                <td><?php echo $this->catalog_object->cat_hook_name . ' ' .  $this->catalog_object->cat_hook_type;?></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<?php if($this->catalog_object->cat_description) : ?>
    <div class="container-fluid" style="margin-top:40px;">
        <h2 class="section-header">Описание:</h2>
        <p class="description"><?php echo $this->catalog_object->cat_description; ?></p>
    </div>
<?php endif; ?>

<?php if($this->catalog_object->cat_video_howto) : ?>
    <div class="container-fluid" style="margin-top:40px;">
        <h2 class="section-header">Учебное видео:</h2>
        <div class="row">
            <?php
            $movie_array = explode(";", $this->catalog_object->cat_video_howto);

            if (count($movie_array) == 1) {
                $w = 12;
            }

            if (count($movie_array) == 2) {
                $w = 6;
            }

            if (count($movie_array) > 2) {
                $w = 4;
            }
            ?>
            <?php foreach($movie_array AS $movie) : ?>
                <div class="col-md-<?php echo $w;?>">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo $movie; ?>?html5=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<?php if(count($this->catalog_object->child_objects) > 0 ) : ?>
    <div class="container-fluid" style="margin-top:40px;">
        <h2 class="section-header">Интернет-магазин:</h2>
        <table class="table">
            <thead>
                <th>Артикул:</th>
                <th>Название:</th>
                <th>цена:</th>
                <th>Добавить в корзину:</th>
            </thead>
            <tbody>
                <?php foreach ($this->catalog_object->child_objects AS $article) : ?>
                <tr>
                    <td><?php echo $article->article_art;?></td>
                    <td><?php echo $article->article_name;?></td>
                    <td><?php echo sprintf('%.2f', $article->art_price); ?> руб.</td>
                    <td>
                        <?php if($article->art_insale === '1') : ?>
                            <form action="/cart/addproduct" method="post" accept-charset="utf-8" onSubmit="javascript:addToCart(this);return false;">
                                <input type="hidden" value="<?php echo htmlspecialchars($article->article_art); ?>" name="art" />
                                <input type="hidden" name="qty" value="1"/>
                                <input type="submit" value="[+]" />
                            </form>
                        <?php endif;?>
                        <?php if($article->art_insale !== '1') :?>
                            <span class="alert-warning">товара в наличии нет.</span>
                        <?php endif; ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>
