<?php
    $this->headLink()->appendStylesheet($this->baseUrl('vendor/shop/css/shop.css'));
    $this->headLink()->appendStylesheet($this->baseUrl('vendor/fp/skin/minimalist.css'));
?>

<?php
    $this->inlineScript()->appendFile($this->baseUrl('vendor/shop/js/shop2.js'));
    $this->inlineScript()->appendFile($this->baseUrl('vendor/fp/flowplayer.min.js'));
    $this->inlineScript()->appendFile($this->baseUrl('vendor/application/js/application-old.js'));
?>
<?php
    $this->HeadTitle($this->catalog_object->cat_name);
?>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <?php if($this->catalog_object->cat_image) : ?>
                <img class="img-responsive" style="max-height: 360px; height:auto;" src="<?php echo 'http://cdn.strikepro.ru/' . $this->catalog_object->cat_image;?>">
            <?php else : ?>
                <img class="img-responsive" src="http://cdn.strikepro.ru/default_group.png">
            <?php endif; ?>
        </div>
        <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4"">
            <h1 class="content-header">
                <?php echo $this->catalog_object->cat_name; ?>
                <?php if ($this->catalog_object->cat_new == 1): ?>
                    <span class="label label-danger" style="font-size: medium;">NEW</span>
                <?php endif; ?>
            </h1>
            <span class="product_code">код модели: <?php echo $this->catalog_object->cat_codename; ?></span>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-12 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <?php if($this->catalog_object->cat_video) : ?>
                            <?php if(strpos($this->catalog_object->cat_video, 'flv')) : ?>
                                <div class="flowplayer" style="width:320px; height:180px;" data-key="$379529612556358">
                                    <video src="<?php echo $this->baseUrl("video/" . $this->catalog_object->cat_video); ?>" autoplay loop preload></video>
                                </div>
                            <?php endif; ?>
                            <?php if(!strpos($this->catalog_object->cat_video, 'flv')) : ?>
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo $this->catalog_object->cat_video; ?>?html5=1?&controls=1&showinfo=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
                            <?php endif;?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:40px;">
    <h2 class="section-header">Характеристики:</h2>
    <div class="row table__wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>код модели</th>
                <th>плавучесть</th>
                <th>длина</th>
                <th>вес</th>
                <th>заглубление</th>
                <th>крючок</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?php echo $this->catalog_object->cat_codename; ?></td>
                <td><?php echo $this->catalog_object->cat_type1; ?></td>
                <td><?php echo $this->catalog_object->cat_length; ?> см.</td>
                <td><?php echo $this->catalog_object->cat_weight; ?> гр.</td>
                <td><?php echo $this->catalog_object->cat_depth_min; ?> - <?php echo $this->catalog_object->cat_depth_max; ?> м.</td>
                <td><?php echo $this->catalog_object->cat_hook_name . ' ' .  $this->catalog_object->cat_hook_type;?></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<?php if($this->catalog_object->cat_description) : ?>
<div class="container-fluid" style="margin-top:40px;">
    <h2 class="section-header">Описание:</h2>
    <p class="description"><?php echo $this->catalog_object->cat_description; ?></p>
</div>
<?php endif; ?>

<?php if($this->catalog_object->cat_video_howto) : ?>
    <div class="container-fluid" style="margin-top:40px;">
        <h2 class="section-header">Учебное видео:</h2>
        <div class="row">
            <?php
            $movie_array = explode(";", $this->catalog_object->cat_video_howto);

            if (count($movie_array) == 1) {
                $w = 12;
            }

            if (count($movie_array) == 2) {
                $w = 6;
            }

            if (count($movie_array) > 2) {
                $w = 4;
            }
            ?>
            <?php foreach($movie_array AS $movie) : ?>
                <div class="col-md-<?php echo $w;?>">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo $movie; ?>?html5=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<?php if(count($this->catalog_object->child_objects) >  0) : ?>
    <div class="container-fluid" style="margin-top:40px;">
        <h2 class="section-header">Цветовые решения:</h2>
        <div class="row">
            <div class="col-md-offset-9 col-md-3">
                <span class="pull-right">только в наличии: <input class="form-inline" type="checkbox" id="only_insale"> </span>
                <br>
            </div>
        </div>

        <div class="row">
            <?php foreach($this->catalog_object->child_objects AS $article): ?>
                <div class="col-md-2">
                <div href="#" class="thumbnail">
                        <img class="color_choice"
                             id = "<?php echo $article->article_art; ?>"
                             data-article="<?php echo $article->article_art; ?>"
                            <?php if($article->article_image_big) : ?>
                                data-big-image = "<?php echo 'http://cdn.strikepro.ru/' . $article->article_image_big; ?>"
                            <?php elseif($article->article_image) : ?>
                                data-big-image = "<?php echo 'http://cdn.strikepro.ru/' . $article->article_image; ?>"
                            <?php else : ?>
                                data-big-image = "<?php echo 'http://cdn.strikepro.ru/default.png'; ?>"
                            <?php endif; ?>
                             data-code = "<?php echo $article->article_code; ?>"
                             data-color = "<?php echo $article->article_color; ?>"
                             data-price = "<?php echo $this->RoundPrice($article->art_price); ?>"
                             data-insale = "<?php echo $this->RoundPrice($article->art_insale); ?>"
                            <?php if ($article->article_image) : ?>
                                src="<?php echo 'http://cdn.strikepro.ru/' . $article->article_image; ?>"
                            <?php else : ?>
                                src="<?php echo 'http://cdn.strikepro.ru/default.png'; ?>"
                            <?php endif; ?>
                             alt="<?php echo $article->article_code; ?>">
                        <div class="caption">
                            <p align="center" style="white-space:nowrap;">#<?php echo $article->article_color; ?></p>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<?php echo $this->partial('catalog/shop-modal.phtml', array('catalog_object' => $this->catalog_object)); ?>