<!-- Modal -->
<div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="shopModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="shopModalLabel">Интернет-Магазин Strike Pro:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="article-info-labels" style="padding:0;">
                            <li class="label label-success">модель: <span id="article-model-name"><?php echo $this->catalog_object->cat_name; ?></span></li>
                            <li class="label label-default">артикул: <span id="article-art"></span></li>
                            <li class="label label-info">код: <span id="article-code"></span></li>
                            <li class="label label-warning">цвет: <span id="article-color"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6 col-sm-6">
                        <div class="container-fluid" id="article-image-container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <img id="article-image" style="margin:0 auto;" class="img-responsive" src=""/>
                                    <img id="loader_image" src="<?php echo $this->baseUrl('images/loading.gif'); ?>" style="display: none;"/>
                                </div>
                            </div>

                            <!-- START BASKET HERE -->
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p align="center" style="font-size: 1.3em; color:#b8860b">Цена: <span id="article-price"></span> руб.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div id="cart-block">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form id="addtocartform" action="/cart/addproduct" method="post" accept-charset="utf-8">
                                                <input data-insale="0" id="art" type="hidden" value="" name="art"/>
                                                <span onclick="javascript:itemplusminus(-1);" style="cursor:pointer; color:#d3d3d3;" class="glyphicon glyphicon-minus"></span>
                                                <input id="quantity"
                                                       name="qty"
                                                       value="1"
                                                       type="text"
                                                       style="width:42px;"
                                                       align="center"/>
                                                <span onclick="javascript:itemplusminus(1);" style="cursor:pointer; color:#d3d3d3;" class="glyphicon glyphicon-plus"></span>
                                                <span>&nbsp;&nbsp;&nbsp;</span>
                                                <button type="submit" class="btn btn-success">в корзину</button>
                                            </form>
                                            <div id="out-of-order" class="alert alert-warning" role="alert" style="display:none; margin:0;">Товара в наличии нет</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- END BASKET HERE -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="container-fluid">
                            <h2 class="section-header">Цветовые решения:</h2>
                            <div class="row" id="articles-images-container">
                                <?php foreach($this->catalog_object->child_objects AS $article) :?>
                                <div style="margin-bottom:16px;" class="col-sm-2 col-xs-3">
                                    <div id="circle_<?php echo $article->article_art; ?>"
                                        data-article = "<?php echo $article->article_art;?>"
                                         data-price = "<?php echo $article->art_price; ?>"
                                         data-insale = "<?php echo $article->art_insale; ?>"
                                         data-code = "<?php echo $article->article_code; ?>"
                                         data-color="<?php echo $article->article_color; ?>"
                                         <?php if($article->article_image_big) : ?>
                                            data-image="<?php echo 'http://cdn.strikepro.ru/' . $article->article_image_big; ?>"
                                         <?php elseif($article->article_image) : ?>
                                             data-image="<?php echo 'http://cdn.strikepro.ru/' . $article->article_image; ?>"
                                         <?php else: ?>
                                             data-image="<?php echo 'http://cdn.strikepro.ru/default.png'; ?>"
                                         <?php endif; ?>
                                         class="ratio img-responsive img-circle"
                                         style="background-size: 700% auto;
                                         <?php if($article->article_image) : ?>
                                            background-image: url('<?php echo 'http://cdn.strikepro.ru/' . $article->article_image; ?>')
                                         <?php else: ?>
                                                 background-image: url('<?php echo 'http://cdn.strikepro.ru/default.png'; ?>')
                                         <?php endif; ?>
                                                 ">
                                    </div>
                                </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
            </div>
        </div>
    </div>
</div>
