@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic';

.content-header {
    color: rgb(0, 0, 0);
    font-family: Roboto,serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-rendering: optimizelegibility;

}

.section-header {
    color: rgb(0, 0, 0);
    font-family: "PT Serif",Georgia,serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-rendering: optimizelegibility;
}

.feature-info {
    line-height: 36px;
    color:#7BB530;
    cursor: help;
}

.popover {
    width:400px;
}

.article-title {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 2em;
}

.article-content > p {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 1.5em;
}