@CHARSET "UTF-8";


.mini_banners {
	margin-top: 20px;
}
.mini_banners .mini_banner {
	background-image:url("/images/template/small_banner_bg.png");
	background-repeat: no-repeat;
	height: 146px;
	width: 285px;
	float: left;
}

.mini_banners #dilers {
	height: 146px;
	width: 285px;
	float: left;
	margin-left:15px;
	background-image:url("/images/template/sales_place_inactive.png");
}

.mini_banners #dilers:hover {
	background-image:url("/images/template/sales_place_active.png");
}

.mini_banners #questions {
	height: 146px;
	width: 285px;
	float: left;
	margin-left:15px;
	background-image:url("/images/template/questions.png");
}