@CHARSET "UTF-8";

/* slider section */

#example {
	width:800px;
	height:336px;
	position:relative;
	margin: 0 auto;
	margin-top:  30px;
	margin-bottom: 30px;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500; 
}

#frame {
	position:relative;
	z-index:0;
	width:800px;
	height:336px;
}

#slides {
	position:absolute;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:170px;
	left: -50px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:800px;
	height:336px;
	overflow:hidden;
	position:relative;
	z-index:10000;
}

#slides .next {
	left:810px;
	overflow: hidden;
}

.pagination {
	position:relative;
	left: 390px;
	top: -65px;
	margin:70px 0;
	margin-left: 430px;
	width:100px;
	z-index:10000; 
}

.pagination li {
	float:left;
	margin:0 1px;
	
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/images/template/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/template/pagination.png, sizingMethod='scale');
}

.pagination li.current a {
	background-position:0 -12px;
}