@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans+Condensed:normal|Raleway';
@import 'https://fonts.googleapis.com/css?family=Roboto:200,300,400&amp;subset=cyrillic';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Libre+Baskerville');

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 2px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    margin-bottom:20px;
}

/* Helper function */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.storefront-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.4em;
    color:#ffffff;
}

.storefront-main {
    margin:0; padding: 0;
}

.storefront-main-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color:#2D2D2D;
}

/* Second nav section */
.nav-second {
    padding-bottom:0;
    line-height: 20px;
    box-shadow: none;
}



.nav-second-elements > li {
    color: black;
    margin-right:24px;
}
.nav-second-elements > li > a {
    color: #333;
}

.nav-second-elements > li:hover, ul#social-network-links > li:active  {
    color: #7BB530;
}

.nav-second-elements > li:last-child {
    margin-right:0;
}


/* Main navigation section */

.navbar-default {
    background: none;
    background-color: #fff;
    transition: all .15s ease-in;
    box-shadow: none;
    border-color: transparent;
}
.navbar-default.down{
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border-color: #e7e7e7;
}


.navbar-default .navbar-nav > li > a, .navbar-brand
 {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 70px;
}
.navbar-default .navbar-nav > li > a:hover{
    text-decoration: underline;
}


.empty_cart:hover, .empty_cart:active {
    background-color: rgba(253, 253, 253, 0.90);
    color: rgba(139, 0, 0, 0.70);
    border-color: rgba(139, 0, 0, 0.70);
}

/* Breadcrumb preferences */
ol.breadcrumb {
    background-color: white;
}

ol.breadcrumb li a {
    color: rgb(156, 156, 156);
}

ol.breadcrumb li a:hover {
    color: rgba(123, 181, 48, 1);
}

ol.breadcrumb > li > a :last-child {
    color: rgba(123, 181, 48, 1);
}

/* Additional elements styles */

.content-body {
    min-height:500px;
    margin-top:140px;
    margin-bottom:140px;
}

.content-header {
    color: #515151;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 300;
    line-height: 30px;
}

.section-header{
    color: #515151;
    font-family: "Roboto", serif;
    font-size: 1.6em;
    font-weight: 300;
}

.plain-text{
    color: #515151;
    font-family: "Roboto", serif;
    font-size: 1.4em;
    font-weight: 200;
}

.description {
    font-family: "Roboto", serif;
    letter-spacing:0.025em;
    font-size: 1em;
    line-height: 2;
    color: #333;
    font-weight:200;
    padding: 0px 10px;
}
.thumbnail{
    border-color: transparent !important;
}
.thumbnail:hover {
    border-color: rgba(123, 181, 48, 1) !important;
}

.product_code {
    color:rgba(190, 190, 190, 1)
}

a {
    color: rgba(123, 181, 48, 1);
    text-decoration: none;
}

a:hover, a:active {
    color: rgba(123, 181, 48, 1);
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    background-color: rgba(123, 181, 48, 1);
    color: #FFFFFF;
}

.nav-tabs > li > a:active {
    background-color: rgba(123, 181, 48, 1);
    color: #FFFFFF;
}

.feature-info {
    color: rgba(123, 181, 48, 0.5);
}

.feature-info:hover {
    color: rgba(123, 181, 48, 1);
}

label.error {
    color:maroon;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:120px;
    padding:10px auto;
}


.footer__socialBtn{
    font-size: 0;
    text-align: center;
    margin-bottom: 20px;
}
.footer__socialBtn li {
    margin-right: 5%;
    font-size: 16px;
}
.footer__socialBtn li:last-child {
    margin-right: 0;
}
.navbar-toggle[data-target="#navbar2"]{
    margin-top: 8px;
}




.basket{
    position: absolute;
    right: 0;
    top: 22px;
    cursor: pointer;
}
.basket .fa{
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    height: 40px;
}
.basket .badge{
    background-color: #333;
    color: #fff;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 0;
    padding: 0;
    font-size: 20px;
}

.navbar-header{
    float: none;
    position: relative;
}
.navbar-brand{
    width: 170px;
    display: block;
    margin: 0 auto !important;
    float: none;
    height: auto;
}
.navbar-brand img{
    width: 100%;
}
.header__tel a{
    list-style: none;
    line-height: 16px !important;
    text-align: center;
    font-size: 16px !important;
}

.header__tel a span{
    position: relative;
    top: -5px;
}


#sidebar-wrapper{
    right: inherit;
    top: 92px;
    left: 0;
    text-align: center;
    bottom: 0;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    border-color: transparent;
    height: calc(100vh - 92px);
    transition: all .15s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar-wrapper:after,
#sidebar-wrapper:before{
    display: none;
}

#sidebar-wrapper.is-closed{
    left: -800px;
}
#sidebar-wrapper.is-open{
    left: 0;
    right: 0;
}

#article-info-labels .label{
    line-height: 3;
}
#addtocartform{
    text-align: center;
}
.table__wrapper{
    overflow: auto;
}

.sidebar-nav {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: inline-block;
}
.sidebar-nav li {
    display: block;
    position: relative;
}

.sidebar-nav li a {
    font-family: 'Comfortaa', cursive;
    color: #333;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}
.sidebar-nav li a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-image: linear-gradient(to left, #FFFFFF 0%, #000000 50%, #000000 51%, #FFFFFF 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}
.sidebar-nav li a:hover:after {
    width: 100%;
}
body.js-hidden{
    overflow: hidden;
}
@media(min-width: 768px){
    .navbar-brand{
        width: 200px;
    }
    .sidebar-nav{
        margin-top: 80px;
    }
    .sidebar-nav li a{
        font-size: 35px;
        line-height: 40px;
    }
    #sidebar-wrapper{
        top: 115px;
        height: calc(100vh - 115px);
    }
    .footer__socialBtn{
        margin-bottom: 40px;
    }
    .header__tel a{
        font-size: 20px !important;
        line-height: 20px !important;
    }

}
@media(min-width: 1024px){
    .navbar-brand{
        width: 220px;
    }
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    position: fixed;
    top: 27px;
    width: 32px;
    z-index: 999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #333;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #333;
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: #333;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #333;
    bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #333;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #333;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #333;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #333;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
.basket__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -600px;
    max-width: 500px;
    width: 100%;
    padding-top: 50px;
    border: 1px solid #31343d;
    overflow: auto;
    z-index: 11111;
    background-color: #fff;
    transition: all .225s ease-in;
}
.basket__head {
    font-size: 0;
    max-width: 500px;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    right: -600px;
    top: 0;
    transition: all .225s ease-in;
}

.basket__wrapper.active{
    right: 0;
}
.basket__wrapper.active .basket__head{
    right: 0;
}
.basket__head-btn {
    display: inline-block;
    width: 50%;
    padding: 15px 0;
    vertical-align: middle;
    background-color: #31343d;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .225s;
    transition: all .225s;
    text-align: center;
}
.basket__head-btn:hover {
    background-color: #484c59;
    color: #fff;
}
.basket__count {
    padding-left: 10px;
    padding-right: 10px;
}
.basket__count-totals {
    white-space: nowrap;
    border-bottom: 1px solid #31343d;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}
.basket__count-totals__label {
    display: inline-block;
    padding: 15px 0;
    vertical-align: middle;
}
.basket__count-totals__price {
    display: inline-block;
    padding: 15px 0;
    vertical-align: middle;
}
.basket__count-total-products {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0;
}
.basket__content {
    padding-left: 10px;
    padding-right: 10px;
}
.basket__content tr {
    border-bottom: 1px solid #9b9b9b;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0;
    white-space: nowrap;
}
.basket__content td {
    font-size: 14px;
    display: inline-block;
}

.basket__content td:nth-child(1) {
    width: 50%;
    white-space: normal;
}
.basket__content td:nth-child(2) {
    width: 20%;
    text-align: center;
}
.basket__content td:nth-child(3) {
    text-align: center;
    width: 10%;
    font-size: 16px;
    font-weight: bold;
}
.basket__content td:nth-child(4) {
    width: 20%;
    text-align: right;
}
@media(max-width: 767px){
    .basket__content td {
        font-size: 12px;
    }
    .basket__content td:nth-child(3) {
        font-size: 14px;
    }
}
.basket__notic{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    height: 40px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
}

