<?php $this->headLink()->appendStylesheet($this->baseUrl('/vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl('/vendor/application/css/post-edit.css')); ?>

<div class="row">
    <div class="col-sm-12">
        <h2 class="pull-left">Редактировать запись</h2>
    </div>
</div>
<hr>

<div id="form-box" class="row" style="margin-top:20px; display: none;">
    <div class="col-sm-12">
        <form id="editPost" class="form-horizontal" action="<?php echo $this->baseUrl('post/patch/' . $this->post->Id); ?>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Заголовок:</label>
                <div class="col-sm-10">
                    <input value="<?php echo $this->escape($this->post->title);?>" type="text" name="title" class="form-control" id="inputTitle" placeholder="Придумайте красивое название">
                </div>
            </div>
            <div class="form-group">
                <label for="textareaDescription" class="col-sm-2 control-label">Короткое описание:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" class="form-control" id="textareaDescription" placeholder="до 255 символов"><?php echo $this->escape($this->post->description); ?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLink" class="col-sm-2 control-label">Ссылка:</label>
                <div class="col-sm-10">
                    <input value="<?php echo $this->escape($this->post->link);?>"
                           type="text" name="link" class="form-control" id="inputLink" placeholder="Ссылка сгенерируется после ввода заголовка">
                </div>
            </div>
            <div class="form-group">
                <label for="hiddenHeadImage" class="col-sm-2 control-label">Титульная фотография:</label>
                <div class="col-sm-10">
                    <div href="javascript:void(0)" id="dropbox" class="dropbox dropbox-marker">
                        <p id="dropbox-text">Выберите титульное изображение (16x9)
                            <br>
                            <a id="chooseHeadImageButton" href="javascript:void(0);" class="btn btn-default">Выбрать на сервере</a>
                        </p>
                    </div>
                    <div id="HeadImageBox" class="thumbnail">
                        <div id="overlay">
                            <a href="javascript:void(0)" id="unsetHeadImageButton" class="btn btn-default">Убрать</a>
                        </div>
                        <img id="HeadImage" class="img-responsive" src="<?php echo $this->escape($this->post->headimage);?>">
                    </div>
                    <input type="hidden" name="headimage" class="form-control" value="<?php echo $this->escape($this->post->headimage);?>" id="hiddenHeadImage">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLink" class="col-sm-2 control-label">Пост:</label>
                <div class="col-sm-10">
                    <textarea class="ckeditor" name="body" class="form-control" id="textareaBody"><?php echo html_entity_decode($this->escape($this->post->body));?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPostedAt" class="col-sm-2 control-label">Когда разместить:</label>
                <div class="col-sm-10">
                        <div class='input-group date' id='datetimepicker1'>
                            <input value="<?php echo $this->escape($this->post->posted_at->format('Y-m-d H:i:00')); ?>" id="inputPostedAt" name="posted_at" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/moment/min/moment-with-locales.min.js')); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/ckeditor/ckeditor.js')); ?>
<?php $this->HeadScript()->appendFile($this->baseUrl('vendor/translit/translit.js')); ?>

<?php $this->HeadScript()->captureStart(); ?>
    <?php echo $this->partial('post/js/create.js'); ?>
<?php $this->HeadScript()->captureEnd(); ?>
