<h2>Записи блога</h2>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-3">
        <a class="btn btn-success" href="<?php echo $this->baseUrl('/post/create'); ?>"><i class="fa fa-plus"></i> Создать</a>
    </div>
</div>
<hr>
<table id="postsBox" class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Название статьи</th>
        <th>Дата размещения</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->posts AS $post): ?>
    <tr class="postRow" data-id="<?php echo $post->Id;?>" id="post_<?php echo $post->Id;?>">
        <td><?php echo $this->escape($post->Id); ?></td>
        <td><a href="<?php echo $this->baseUrl('post/show/id/' . $post->Id); ?>"><?php echo $this->escape($post->title); ?></a></td>
        <td><?php echo $this->escape($post->posted_at->format('Y-m-d H:i')); ?></td>
        <td>
            <a href="<?php echo $this->baseUrl('post/edit/' . $post->Id); ?>" class="btn btn-warning"><i class="fa fa-edit"></i></a>
            <a href="<?php echo $this->baseUrl('post/delete/' . $post->Id); ?>" data-id="<?php echo $post->Id; ?>" class="destroyPost btn btn-danger"><i class="fa fa-remove"></i></a>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<?php echo $this->partial('post/helpers/destroy-modal.phtml'); ?>
<?php $this->HeadScript()->captureStart(); ?>
    <?php echo $this->partial('post/js/index.js'); ?>
<?php $this->HeadScript()->captureEnd(); ?>





