<?php $this->HeadTitle($this->post->title); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl('vendor/application/css/blog-show.css')); ?>
<?php $this->headMeta($this->baseUrl('blog/show/' . $this->post->link),
                        'og:url', $keyType = 'property', $modifiers = array(), $placement = 'APPEND'); ?>
<?php $this->headMeta('article', 'og:type', $keyType = 'property', $modifiers = array(), $placement = 'APPEND'); ?>
<?php $this->headMeta($this->escape($this->post->title), 'og:title', $keyType = 'property', $modifiers = array(), $placement = 'APPEND'); ?>
<?php $this->headMeta($this->escape($this->post->description), 'og:description', $keyType = 'property', $modifiers = array(), $placement = 'APPEND'); ?>
<?php $this->headMeta($this->escape($this->post->headimage), 'og:image', $keyType = 'property', $modifiers = array(), $placement = 'APPEND'); ?>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '367893500221973',
            xfbml      : true,
            version    : 'v2.8'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<article>
<div class="row">
    <div class="col-sm-12">
        <h1 class="blogHeader"><?php echo $this->escape($this->post->title); ?></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="blogImageBox">
            <img src="<?php echo $this->post->headimage; ?>" class="blogImageBox img-responsive">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="blogContent">
            <?php echo htmlspecialchars_decode($this->post->body); ?>
        </div>
    </div>
</div>
    <div class="row share-button-box">
        <div class="col-xs-6 col-sm-6" id="vk_share_box">
        </div>
        <div class="col-xs-6 col-sm-6">
            <img id="facebook_share_button"  src="<?php echo $this->baseUrl('images/facebook.jpg'); ?>" class="share-button img-responsive">
        </div>
    </div>
</article>

<?php $this->InlineScript()->appendFile('https://vk.com/js/api/share.js?93', 'text/javascript', array('charset' => 'windows-1258')); ?>

<?php $this->InlineScript()->captureStart(); ?>

document.getElementById('vk_share_box').innerHTML= VK.Share.button(
        {},
        {
            type: 'custom',
            text: '<img src="<?php echo $this->baseUrl('images/vk.jpg'); ?>" class="share-button img-responsive" />'
        });

document.getElementById('facebook_share_button').onclick = function() {
    FB.ui({
        method: 'share',
        display: 'popup',
        href: '<?php echo $this->baseUrl('blog/show/' . $this->post->link); ?>',
    }, function(response){});
}

<?php $this->InlineScript()->captureEnd(); ?>


